/*.xans-search-form { margin:30px 0 20px; }*/
.xans-search-form { margin:0 0 20px; }

.dj-product .prdList .thumbnail .custom_pro { display:none !important }
.dj-product .likeButton img { margin: -7px 0 0; }
    
/* .searchbox */
.xans-search-form .noData {  display:none; margin:15px 0 0; font-weight:bold; color:#222; line-height:100px; text-align:center; }
.xans-search-form .search_page {  width: 900px;  margin:0 auto 0; border-bottom:3px solid #222; }
.xans-search-form fieldset { text-align:right; position:relative;  }
.xans-search-form span { float:left; font-size:23px;    line-height: 1.9; }
.xans-search-form #keyword { 
    /*width: 800px;*/
    padding: 0 2px 0 12px;
    color: #000;
    background: #fff;
    border:0;
    background: #eee;
    border-radius: 20px;
    /*margin: 0 auto;*/
    /*height: 40px;*/
    line-height: 1;
    /*font-size:23px;*/
    text-align:left;
    outline:none;
}

/* searchResult */
.xans-search-form .searchResult {  overflow:hidden; text-align:center; line-height:27px; padding:75px 0 20px }
.xans-search-form .searchResult .record {  font-size:16px; font-weight:400;  letter-spacing:-0.03em; color:#222;  padding:0 0 20px 8px; color:#111;  }
.xans-search-form .searchResult .listType { display:none; margin:0 4px 0 0; }
.xans-search-form .searchResult .listType li { display:inline; font-size:16px; font-weight:300; padding:0 6px 0 10px; color:#666; cursor:pointer; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/product/bg_result_type.gif") no-repeat 0 50%; }
.xans-search-form .searchResult .listType li:hover { color:#666; text-decoration:none; }
.xans-search-form .searchResult .listType li:first-child { background:none; }