#top_top { position:fixed; text-align:center;  right:10px; bottom:10px; padding:10px; font-size:10px; letter-spacing:0.03em; cursor:pointer; z-index:99999; background:#111; color:#fff; }

#footer { background:#fff;  clear:both; color:#000; line-height:17px; position:relative; min-width:850px; margin:0 13% 40px; }
#footer .inner { overflow:hidden; position:relative; }
#footer .top_bar { height:4px; width:93px; background:#000; display:block; margin:120px 0 0; }

.xans-layout-footer {   font-size:11px; clear:both;   }
.xans-layout-footer .inner { border-bottom:1px solid #e1e1e1; overflow:hidden; padding:18px 0 30px 0; margin:0 auto;  }
.xans-layout-footer .inner .title { font-size:12px; font-weight:700; }
.xans-layout-footer .inner .title span { font-size:11px; font-weight:normal; color:#999; padding:0 0 0 8px }
.xans-layout-footer .inner .title span.more { float:right }
.xans-layout-footer .inner .title span.more a { color:#fff; background:#222; padding:2px 10px 3px;  border-radius:8px;-moz-border-radius:8px; -webkit-border-radius:8px; }

/* 왼쪽 게시판 */
.xans-layout-footer .left_bbs_and {   margin:33px 50px 33px 0; width:295px; float:left;  }
.xans-layout-footer .left_bbs_and .notice_list { border-top:1px solid #ececec; overflow:hidden; padding:17px 0 0 ; margin:14px 0 0 ; }
.xans-layout-footer .left_bbs_and .notice_list ul { display:block; clear:both; border-bottom:1px solid #fff;  }
.xans-layout-footer .left_bbs_and .notice_list li { line-height:17px; padding:3px 0 2px 0; }
.xans-layout-footer .left_bbs_and .notice_list li a { color:#444 }
.xans-layout-footer .left_bbs_and .notice_list li.title2 { }
.xans-layout-footer .left_bbs_and .notice_list li.right { float:right }
.xans-layout-footer .left_bbs_and .title { font-size:12px; font-weight:700; }
.xans-layout-footer .left_bbs_and .title span { font-size:11px; font-weight:normal; color:#999; padding:0 0 0 8px }
.xans-layout-footer .left_bbs_and .title span.more { float:right }
.xans-layout-footer .left_bbs_and .title span.more a { color:#fff; background:#222; padding:2px 10px 3px;  border-radius:8px;-moz-border-radius:8px; -webkit-border-radius:8px; }

/* 공지사항 우측 */
.xans-layout-footer .notice_right { float:right;  margin:33px 0 33px 0;  text-align:left; }
.xans-layout-footer .notice_right li.list { display:inline-block; margin:0 0 0 90px; vertical-align:top;}
.xans-layout-footer .notice_right li.list a { display:block; line-height:24px; letter-spacing:-0.05em }
.xans-layout-footer .notice_right li.list a.title { padding:0 0 8px; font-size:12px; font-weight:600  }

/* 중간 고객센터 */
.xans-layout-footer .inner .cs {  overflow:hidden;  }
.xans-layout-footer .inner .cs ul { clear:both }
.xans-layout-footer .inner .cs .cs_left { padding:0 50px 0 0 }
.xans-layout-footer .inner .cs .cs_left, .xans-layout-footer .inner .cs .cs_right { display:inline-block; }
.xans-layout-footer .inner .cs .cs_info { border-top:1px solid #ececec; height:50px; padding:20px 0 0; margin:12px 0 0; }
.xans-layout-footer .inner .cs .cs_info li { float:left; display:block; }
.xans-layout-footer .inner .cs .tel { font-weight:700; color:#000;   padding:6px 15px 15px 0; letter-spacing:1px; font-size:40px; }
.xans-layout-footer .inner .cs .tel_time {  line-height:16px; color:#000; }

.xans-layout-footer .inner .cs .tel_time strong { }
.xans-layout-footer .inner .cs .tel_time p { color:#888 }
.xans-layout-footer .inner .cs .tel_time img { padding:1px 0 0 0 }

.xans-layout-footer .inner .cs .cs_bbs { clear:both; height:70px; }
.xans-layout-footer .inner .cs .cs_bbs li { float:left; margin:0 3px 0 0; }
.xans-layout-footer .inner .cs .cs_bbs li a { font-size:11px; color:#666; display:block; padding:0 0 1px 0; line-height:30px; height:30px; text-align:center; width:90px; background:#fff; border:1px solid #ddd; }
.xans-layout-footer .inner .cs .cs_bbs li a:hover { background:#f5f5f5 }
       
.xans-layout-footer .inner .account li { float:left }
.xans-layout-footer .inner .account li.right { margin:-16px 0 0 38px }
.xans-layout-footer .inner .account .info { vertical-align:top; padding:10px 0 0 0; border-top:1px solid #ececec; margin:12px 0 0;   }
.xans-layout-footer .inner .account .info p { padding:16px 0 0 }
.xans-layout-footer .inner .account .info select { width:187px; height:25px; clear:both; font-size:11px; color:#888;  background:#fff; border:1px solid #e1e1e1; }
.xans-layout-footer .inner .account .info .han {  display:inline-block; padding:3px 0 0 0; vertical-align:top; line-height:17px;   color:#000;  }
.xans-layout-footer .inner .account .info .num { display:inline-block; padding:5px 0 0 3px; font-size:13px; letter-spacing:1px; line-height:13px; }
.xans-layout-footer .inner .account .info .name {display:inline-block; padding-top:12px; color:#000; }
.xans-layout-footer .inner .account .info .name strong { padding:0 3px 0 0;  }

/* SNS */
.xans-layout-footer .sns_zone { position:absolute; right:0; top:60px }
.xans-layout-footer .sns_zone li { float:left; margin:0 0 0 15px; }

/* 회사정보 */
.xans-layout-footer .company_i { clear:both;  padding:17px 0 0 ;   }
.xans-layout-footer .company_i .inner2 { }
.xans-layout-footer .company_i .inner2 .info img {  display:none; }
.xans-layout-footer .company_i .inner2  span { padding:0 7px 0 0 }
.xans-layout-footer .company_i .inner2 li { float:left; color:#333; width:100%; line-height:20px; padding:6px 0 50px; }
.xans-layout-footer .company_i .inner2 li a { color:#333 }

/* PG */
.xans-layout-footer .company_pg {  border-top:1px solid #e1e1e1; clear:both;   }
.xans-layout-footer .company_pg .inner2 {  }
.xans-layout-footer .company_pg .inner2 .info { padding:33px 0 0 5px; }
.xans-layout-footer .company_pg .inner2 .info a { margin:0 0 0 5px; color:#999; background:#eee;  border:1px solid #d8d8d8; padding:2px 7px 3px;  }
.xans-layout-footer .company_pg .inner2 .info img { padding:3px 5px 0 8px }
.xans-layout-footer .company_pg .inner2 li { float:left; color:#555; line-height:20px; }
.xans-layout-footer .company_pg .inner2 li a { color:#333 }
.xans-layout-footer .company_pg .inner2 .logo a { float:left; display:block; padding:15px 10px 0 0; height:38px; text-align:center; }
.xans-layout-footer .company_pg .inner2 .logo img { padding:14px 0 0;  }


.xans-layout-footer .pg { color:#000; clear:both; line-height:21px;  font-size:10px; }
.xans-layout-footer .pg img { margin:-1px 0 0 0; }
.xans-layout-footer .address { padding:22px 0 0 0; color:#000; clear:both; letter-spacing:1px; line-height:21px; font-size:10px; }
.xans-layout-footer .address .han { font-size:10px; letter-spacing:0px; }
.xans-layout-footer .address .ment { padding:0 0 0 13px; color:#000; font-size:10px; letter-spacing:0px; }
.xans-layout-footer .address span {  }
.xans-layout-footer .address span a { }
.xans-layout-footer .copyright { position:absolute; left:204px; bottom:0; height:28px; color:#000; font-size:12px; line-height:28px; }

.xans-layout-footer .utilMenu {  padding:33px 20px 0 0; }
.xans-layout-footer .utilMenu  a { color:#aaa !important;   }
.xans-layout-footer .utilMenu a:hover { color:#222 }
.xans-layout-footer .utilMenu a strong {  color:#222 }


