<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "//www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="//www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>    
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N6P8RS2');</script>
<!-- End Google Tag Manager -->
    
    <!--@css(/_dj/font/font.css)-->
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <!-- 셀퍼 태그 Start -->
    <meta name="google-site-verification" content="uRO7HNIyVOHhjgsPnj6Tu_mM8nff6ubuvcEGoYys4YA" />
    <script>
        var __selperAccountId = '03213aa6-6d79-11ea-a969-70106f4bafe6';
        var __selperFacebookPixelId = '203846354387089';
        var __selperGoogleAdsConversionId = 'AW-656645903';
        var __selperGoogleConversionLabel = 'dgtHCJ-v9soBEI--jrkC';
        var __selperGoogleAnalyticsMeasurementId = 'UA-145188987-2';
        (function(w,d,s,l,i) { 
            w[l]=w[l]||[];
            w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});
            var f=d.getElementsByTagName(s)[0], j=d.createElement(s), dl=l!='dataLayer'?'&l='+l:'';
            j.async=true;
            j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
            f.parentNode.insertBefore(j,f);
        })
        (window,document,'script','dataLayer','GTM-WJSLMG8');		
    </script>
    <!-- 셀퍼 태그 End -->

    <!--PG크로스브라우징필수내용 시작-->
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <!--PG크로스브라우징필수내용 끝-->
    
    <!-- 디자인바이지원 DB -->
    <!--@import(/_dj/dj-db.html)-->    
</head>
<body>
<!-- Uneedcomms Keepgrow Script -->
<script id="kg-service-init" data-hosting="cafe24" src="//storage.keepgrow.com/admin/keepgrow-service/keepgrow-service_9fdfe30e-e059-4639-8949-4cae9a8ac378.js"></script>
<!-- Uneedcomms Keepgrow Script -->
    
    
    
<div class="on" id="section_on_off">  
    <!--★ 왼쪽 추천 상품 자동 슬라이드 사이드바 ★-->
    <!--@import(/_dj/page/common/sliding_sidebar.html)-->
</div>
   

<!-- 전체 페이지 공통: 헤더 -->   
<!--@import(/_dj/page/layout/header.html)-->


<hr class="layout" />
<div id="wrap">
<!-- 전체 페이지 공통: 컨텐츠-->    
<!--@import(/_dj/page/layout/contents.html)-->  
</div><!-- //wrap -->  
    
    
<!-- 하단 영역: Footer -->
<!--@import(/_dj/page/layout/footer.html)-->

    

    
    
    
    
    
<!-- 참고: 결제를 위한 필수 영역 -->
<div id="progressPaybar" style="display:none;">
    <div id="progressPaybarBackground" class="layerProgress"></div>
    <div id="progressPaybarView">
        <div class="box">
            <p class="graph">
                <span><img src="//img.echosting.cafe24.com/skin/base_ko_KR/layout/txt_progress.gif" alt="현재 결제가 진행중입니다." /></span>
                <span><img src="//img.echosting.cafe24.com/skin/base/layout/img_loading.gif" alt="" /></span>
            </p>
            <p class="txt">
                본 결제 창은 결제완료 후 자동으로 닫히며,결제 진행 중에 본 결제 창을 닫으시면<br />
                주문이 되지 않으니 결제 완료 될 때 까지 닫지 마시기 바랍니다.
            </p>
        </div>
    </div>
</div>
<!-- //참고 -->

<div module="Layout_multishopShipping">
    <!--@css(/layout/basic/css/ec-base-layer.css)-->
    <!--@css(/css/module/layout/multishopShipping.css)-->
    <!--@js(/js/module/layout/multishopShipping.js)-->
    <div class="dimmed"></div>
    <div class="worldshipLayer ec-base-layer">
        <div class="header">
            <h3>WORLD SHIPPING</h3>
        </div>
        <div class="content">
            <p class="desc">PLEASE SELECT THE DESTINATION COUNTRY AND LANGUAGE :</p>
            <div class="select">
                <select module="Layout_multishopShippingCountrylist">
                    <option value="{$country_code}"{$country_default_selected}>SHIPPING TO : {$country_name}</option>
                    <option value="{$country_code}"{$country_default_selected}>SHIPPING TO : {$country_name}</option>
                </select>
            </div>
            <div class="select">
                <select module="Layout_multishopShippingLanguagelist">
                    <option value="{$shop_domain}"{$shop_default_selected}>LANGUAGE : {$shop_language_name}</option>
                    <option value="{$shop_domain}"{$shop_default_selected}>LANGUAGE : {$shop_language_name}</option>
                </select>
            </div>
        </div>
        <div class="ec-base-button">
            <a href="#none"><img src="//img.echosting.cafe24.com/skin/base_ko_KR/link/btn_go.gif" alt="GO" /></a>
        </div>
        <a href="#none" class="close"><img src="//img.echosting.cafe24.com/skin/base/common/btn_close.gif" width="13" height="13" alt="close" /></a>
    </div>
</div>

<div module="Layout_conversionPc">
    <!--@css(/css/module/layout/conversionpc.css)-->
    <a href="{$mobile_url}">모바일 화면보기</a>
</div>
</body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N6P8RS2"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
</html>