#myshopMain {margin:-1px 0 0 0; height:149px; width:100%; clear:both;  }

.ec-base-box { margin:20px 0 0 !important }

#myshopMain .shopMain { text-align:center; font-size:11px !important;  font-weight:normal !important; float:left; width:14.284%;  border-bottom:1px solid #ececec;     }
#myshopMain .shopMain li { border-left:1px solid #ececec;  display:block;   padding:20px 0 38px 0 }
#myshopMain .shopMain li.last {  border-right:1px solid #ececec;  }
#myshopMain .shopMain.order {   width:14.284%;  }
#myshopMain .shopMain a { font-size:15px !important; }
#myshopMain .shopMain p a { color:#888; padding:3px 0 0 0; font-size:14px !important; font-weight:300; line-height:15px; display:block; }
#myshopMain .shopMain h3 a {  letter-spacing:0; display:block; padding:15px 0 0 0 }
#myshopMain .shopMain p img { padding:10px 0 0 0 }
#myshopMain .shopMain:hover { background:#f5f5f5 } 

.shopMain.regularDelivery { text-align:center;  }
.shopMain.regularDelivery h3 { display:inline-block; font-size:16px; font-weight:400; border:1px solid #e1e1e1; padding:10px 30px;  margin:15px 0 10px; }
.shopMain.regularDelivery span { padding:0 0 0 10px; display:inline-block;}
.shopMain.regularDelivery span.go { padding:0 0 0 50px }