.xans-myshop-orderhistorynologin { position:relative; margin:10px auto 0; width:450px; padding:0 0 0px 0;color:#757575; }
.xans-myshop-orderhistorynologin h3 { margin:0 0 20px 0; font-size:20px;   text-transform:uppercase; text-align:center;color:#222;  }
.xans-myshop-orderhistorynologin p { width:350px; text-align:center; margin:0 auto 15px; color:#757575; }
.xans-myshop-orderhistorynologin ul { width:500px; margin:20px auto 0; position:relative; }
.xans-myshop-orderhistorynologin li { font-size:12px; padding:0 0 0 10px;  line-height:28px;  background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/member/ico_login2.gif") no-repeat 0 11px; }
.xans-myshop-orderhistorynologin li strong { display:inline-block; width:95px; font-size:15px; letter-spacing:0; font-weight:normal; }
.xans-myshop-orderhistorynologin li input { width:240px; height:23px; margin:0 2px; padding:2px 2px 2px 3px; border:1px solid #d9d9d9; color:#666; }
.xans-myshop-orderhistorynologin li.number input { width:115px; }
.xans-myshop-orderhistorynologin .button { position:absolute; width:100px; margin:0 0 0 356px; bottom:2px;  }
