
.xans-member-login .dj-btn-3 { border:2px solid #222; background:#fff; color:#111; padding:13px 43px; margin:20px 0 30px 0 !important; }
.xans-member-login .login { padding:20px 0 50px 0;  color:#2e2e2e; }
.xans-member-login .login fieldset { position:relative; width:402px; margin:0 auto; }
.xans-member-login .login fieldset .id,
.xans-member-login .login fieldset .password { clear:both; overflow:hidden; display:block; width:450px; margin:0 0 9px; border:1px solid #d9d9d9;  color:#8F8F91; }
.xans-member-login .login fieldset .id span img,
.xans-member-login .login fieldset .password span img { margin:12px 7px 0 9px }
.xans-member-login .login fieldset .id span,
.xans-member-login .login fieldset .password span { font-size:11px;  letter-spacing:1px; float:left; width:90px; height:35px; line-height:38px; background:#fff; padding:0 0 0 8px; color:#c9c9c9;}
.xans-member-login .login fieldset input { float:left; width:300px; height:45px; font-size:17px; letter-spacing:1px;  font-weight:bold; padding:8px 2px 6px 3px; border:0 none; color:#111; }
.xans-member-login .login fieldset .security { color:#999; padding:0 20px 0 0; font-size:12px;}
.xans-member-login .login fieldset .security img { padding:1px 0 0 0; }
.xans-member-login .login fieldset .security input { width:13px; height:13px; margin:0 3px 0 0; vertical-align:-3px; *vertical-align:2px; }
.xans-member-login .login fieldset .security label { margin:0 6px 0 0; }
.xans-member-login .login fieldset > a { position:absolute; top:0; right:7px; }
.xans-member-login .login fieldset ul { overflow:hidden; text-align:right; padding:4px 5px 5px; margin:0; border:0; }
.xans-member-login .login fieldset li { float:left; padding:0  color:#999; }
.xans-member-login .login fieldset li a { color:#999;  font-size:14px;  }
.xans-member-login .login fieldset li a:hover { color:#333 }
.xans-member-login .login fieldset .link { position:relative; font-size:15px; letter-spacing:0; width:448px; font-weight:300; line-height:1.5; margin:30px 0 0 0;  border:1px solid #e1e1e1; text-align:center; padding:33px 0 8px 0; color:#777; }
.xans-member-login .login fieldset .link a { margin:15px 0 30px 0;  font-weight:500; letter-spacing:0.05em; }
.xans-member-login .login fieldset .dj_join_btn { margin:-3px 0 0 0}
.xans-member-login .login fieldset .dj_join_btn img { margin:14px 0 0 0}

.xans-member-login .snsLogin { margin:0 -6px }
.xans-member-login .snsLogin:after { content:''; clear:both; display:block }
.xans-member-login .snsLogin li { width:50%; float:left;  } 
.xans-member-login .snsLogin li a { margin:6px 3px 0 !important }
.xans-member-login .snsLogin .btnNaver {
    display:block; margin:10px 0 0; border:0; border-radius:2px; font-size:13px; color:#fff; text-align:center; height:34px; line-height:33px; padding:0 0 0 45px;
    background:#26c826 url("//img.echosting.cafe24.com/skin/mobile/member/ico_btn_naver.png") no-repeat 13px 0; background-size:33px 33px;
    -moz-box-sizing:border-box; box-sizing:border-box;
}
.xans-member-login .snsLogin .btnFacebook {
    display:block; margin:10px 0 0; border:0; border-radius:2px; font-size:13px; color:#fff; text-align:center; height:34px; line-height:33px; padding:0 0 0 45px;
    background:#3b5998 url("//img.echosting.cafe24.com/skin/mobile/member/ico_btn_facebook.png") no-repeat 13px 0; background-size:32px 33px;
    -moz-box-sizing:border-box; box-sizing:border-box;
}
.xans-member-login .snsLogin .btnGoogle {
    display:block; margin:10px 0 0; border:0; border-radius:2px; font-size:13px; color:#fff; text-align:center; height:33px; line-height:33px; padding:0 0 0 45px;
    background:#517ff3 url("//img.echosting.cafe24.com/skin/mobile/member/ico_google.png") no-repeat 0 0; background-size:auto 31px; border:1px solid #517ff3;
    -moz-box-sizing:border-box; box-sizing:border-box;
}
.xans-member-login .snsLogin .btnKakao {
    display:block; margin:10px 0 0; border:0; border-radius:2px; font-size:13px; color:#3c1e1e; text-align:center; height:34px; line-height:33px; padding:0 0 0 45px;
    background:#ffeb00 url("//img.echosting.cafe24.com/skin/mobile/member/ico_btn_kakao.png") no-repeat 11px 1px; background-size:auto 33px;
    -moz-box-sizing:border-box; box-sizing:border-box;
}
.xans-member-login .snsLogin .btnLine {
    display:block; margin:10px 0 0; border:0; border-radius:2px; font-size:13px; color:#fff; text-align:center; height:34px; line-height:33px; padding:0 0 0 45px;
    background:#26c826 url("//img.echosting.cafe24.com/skin/mobile/member/ico_btn_line.png") no-repeat 10px 0; background-size:35px 33px;
    -moz-box-sizing:border-box; box-sizing:border-box;
}
.xans-member-login .snsLogin .btnApple {

    display:block; margin:10px 0 0; border:0; border-radius:2px; font-size:13px; color:#fff; text-align:center; height:34px; line-height:33px; padding:0 0 0 45px;

    background:#000000 url("//img.echosting.cafe24.com/skin/mobile/member/ico_btn_apple.png") no-repeat 13px 0; background-size:33px 33px;

    -moz-box-sizing:border-box; box-sizing:border-box;

}