/* 오른쪽 사이드바 */
#sidebar_right {border:1px solid #d5d5d5; z-index: 1000; width: auto; height: auto !important; top: 0; right: 20px; margin: 0 15px;padding: 0 15px 70px 15px;
    background: none repeat scroll 0 0; position: absolute; transition: all 300ms;}



#sidebar_right .xans-product-detail .imgArea {display: none !important;}
#sidebar_right .xans-product-detail .infoArea {
    width: 200px;
    height: auto !important;
    position: relative;
    background: #fff;
    float: right;
}


#sidebar_right .totalPrice .total em {
    font-style: normal;
    font-size: 16px !important;
    font-weight: 700;
}
#sidebar_right .npay_button {
    position: relative !important;
    margin: 0 !important;
    padding: 11px 0 11px 0px !important;
    zoom: 1 !important;
    border-radius: 5px !important;
}
#sidebar_right .npay_btn_link.btn_green {
    border-color: #00bd39 !important;
    background-color: #00c73c !important;
    background-position: 50% -35px !important;
    width: 200px !important;
    border-radius: 5px !important;
    height: 45px !important;
    background-position: 50% -31px !important;
}
#sidebar_right .npay_text {
    display: none !important;
    *display: none !important;
    position: absolute !important;
    top: 11px !important;
    left: 0 !important;
    width: 79px !important;
    height: 36px !important;
    margin: 0 !important;
    padding: 0 !important;
    background: url(../../images/button/renewal/npay_sp_text.png) no-repeat !important;
}




#sidebar_right .npay_type_A_2 {
    width: 200px !important;
    height: 44px !important;
}


#sidebar_right #payment,
#sidebar_right .price_inline span,
#sidebar_right .icons img,
#sidebar_right .detail_rate{ display:none; }
#sidebar_right .soldCount {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    padding: 5px 0;
    color: #787878;
    font-size: 10px;
}
#sidebar_right .hit_count {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    padding: 1px 0;
    font-size: 10px;
    border-bottom: 0px solid #e3e3e3;
}

#sidebar_right .xans-product-detaildesign li span {
font-size: 10px !important;
    width: max-content !important;
}

#sidebar_right .xans-product-detaildesign li:last-child {
    padding: 3px 0;
    padding-bottom: 10px;
    border-bottom: 0px solid #e3e3e3;
}


#sidebar_right  #fake_review_rate img { display: none; }
#sidebar_right .nodata { display:none !important;}
#sidebar_right .xans-product-detaildesign li #span_product_price_custom {font-size: 12px !important;}
#sidebar_right .xans-product-detaildesign li #span_product_price_text {font-size: 14px !important;}
#sidebar_right .product_title .title {font-size: 14px !important;}
#sidebar_right .dj-btn-1-phone{font-size: 14px !important;}
#sidebar_right .dj-btn-1 {font-size: 14px !important;}
#sidebar_right .dj-btn-1-phone img {height: 20px;}
#sidebar_right .dj-btn-1-2 {width: 100%;font-size: 14px !important;}
#sidebar_right .dj-btn-1-2-gray {width: 100%; font-size: 14px !important;}
#sidebar_right #totalProducts tbody td p {
    padding: 0 10px 0 10px;
    font-weight: normal;
    font-size: 8px;
    width: max-content !important;
}
#sidebar_right #totalProducts tbody td {
    padding: 0 0;
    color: #353535;
    vertical-align: middle;
    word-wrap: break-word;
    word-break: break-all;
    width: max-content !important;
    font-size: 8px;
}

#sidebar_right #totalProducts tbody tr td:first-child {
    padding-left: 0px !important;
}


#sidebar_right .npay_btn_item.btn_width {
    width: 0px !important;
}
#sidebar_right #NaverChk_Button { position:absolute; }









#sidebar_right .xans-product-detail .infoArea .xans-product-option tr th { vertical-align:top; font-size:12px; /*letter-spacing:0.05em;*/ font-weight:400; }
#sidebar_right .xans-product-detail .infoArea .xans-product-option tr td { padding:4px 0 10px 0; }
#sidebar_right .xans-product-detail .infoArea .xans-product-option tr th {  border-bottom:1px solid #ececec; }
#sidebar_right .xans-product-detail .infoArea .xans-product-option tr td {  border-bottom:1px solid #ececec; }
#sidebar_right .xans-product-detail .infoArea .xans-product-option tr:first-child th,
#sidebar_right .xans-product-detail .infoArea .xans-product-option .xans-product-fileoption th { vertical-align:middle; text-transform:uppercase;  border-top:1px solid #ececec; }
#sidebar_right .xans-product-detail .infoArea .xans-product-option tr:first-child td,
#sidebar_right .xans-product-detail .infoArea .xans-product-option .xans-product-fileoption td { position:relative; padding:15px 0 15px; border-top:1px solid #ececec; }
#sidebar_right .xans-product-detail .infoArea .xans-product-option td.selectButton { text-align:right; }
#sidebar_right .xans-product-detail .infoArea .xans-product-addoption .txtByte { font-size:11px; vertical-align:middle; letter-spacing:-1px; }
#sidebar_right .xans-product-detail .infoArea .xans-product-addoption .txtByte strong { color:#222; }

/* 상품 옵션 */
#sidebar_right .xans-product-detail .infoArea .xans-product-option { display: none; }
#sidebar_right .xans-product-detail .infoArea .xans-product-option tr { position:relative; }
#sidebar_right .xans-product-detail .infoArea .xans-product-option .value { color:#767479;  right:0; top:14px; text-transform:uppercase; word-break:break-all; font-size:11px; /*padding:5px 0 7px 2px;*/ }
#sidebar_right .xans-product-detail .infoArea .xans-product-option .value .ec-product-value { color:#363437;  font-size:11px; margin:0 0 0 3px; }
#sidebar_right .xans-product-detail .infoArea .xans-product-option .ec-product-button li { position:relative; overflow:hidden; display:inline-block; margin:0 2px 0 0; vertical-align:top;  background:#fff; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; *display:inline; *zoom:1; }
#sidebar_right .xans-product-detail .infoArea .xans-product-option .ec-product-button li:last-child { margin-right:0; }
#sidebar_right .xans-product-detail .infoArea .xans-product-option .ec-product-button li a { display:block; min-width:28px; text-align:center; text-decoration:none;  border:2px solid #fff; word-break:break-all; }
#sidebar_right .xans-product-detail .infoArea .xans-product-option .ec-product-button li a span { display:inline-block; padding:4px 12px 5px; font-size:11px; border:1px solid #e1e1e1;-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
#sidebar_right .xans-product-detail .infoArea .xans-product-option .ec-product-button.ec-product-preview { margin:-3px 120px 0 -4px }
#sidebar_right .xans-product-detail .infoArea .xans-product-option .ec-product-button.ec-product-preview li { border:3px solid #fff }
#sidebar_right .xans-product-detail .infoArea .xans-product-option .ec-product-button.ec-product-preview li a { min-width:22px; width:22px; height:22px;  border-radius:100%; -moz-border-radius:100%; -webkit-border-radius:100%;}
#sidebar_right .xans-product-detail .infoArea .xans-product-option .ec-product-button.ec-product-preview li a img { max-width:100%; max-height:100%; }
#sidebar_right .xans-product-detail .infoArea .xans-product-option .ec-product-button.ec-product-preview li a span {  border:0; overflow:hidden; line-height:0; font-size:0; padding:0; text-indent:120%; white-space:nowrap; }
#sidebar_right .xans-product-detail .infoArea .xans-product-option .ec-product-button.ec-product-preview .ec-product-soldout span,
#sidebar_right .xans-product-detail .infoArea .xans-product-option .ec-product-button.ec-product-preview .ec-product-disabled span { position:absolute; left:0; top:0; z-index:1; }
#sidebar_right .xans-product-detail .infoArea .xans-product-option .ec-product-button.ec-product-preview .ec-product-soldout span { background:url("//img.echosting.cafe24.com/skin/base/product/soldout_bg.png") repeat; }
#sidebar_right .xans-product-detail .infoArea .xans-product-option .ec-product-button .ec-product-soldout { background:#aaa }
#sidebar_right .xans-product-detail .infoArea .xans-product-option .ec-product-button .ec-product-soldout a span { display:inline-block; width:100%; height:100%; cursor:not-allowed; color:#d7d7d7; }
#sidebar_right .xans-product-detail .infoArea .xans-product-option .ec-product-button .ec-product-soldout.ec-product-selected { }
#sidebar_right .xans-product-detail .infoArea .xans-product-option .ec-product-button .ec-product-disabled a { cursor:default; border:2px solid #fff; }
#sidebar_right .xans-product-detail .infoArea .xans-product-option .ec-product-button .ec-product-disabled a span { border:1px solid #e1e1e1; display:inline-block; width:100%; height:100%; color:#000;  background:#fff; font-size:11px;  }
#sidebar_right .xans-product-detail .infoArea .xans-product-option .ec-product-button .ec-product-selected {  }
#sidebar_right .xans-product-detail .infoArea .xans-product-option .ec-product-button .ec-product-selected a { background:#222; }
#sidebar_right .xans-product-detail .infoArea .xans-product-option .ec-product-button .ec-product-selected a span { border:1px solid #222;  color:#fff !important;  }
#sidebar_right .xans-product-detail .infoArea .xans-product-option .ec-product-button.ec-product-preview .ec-product-selected a { border:2px solid #222 !important; }
#sidebar_right .xans-product-detail .infoArea .xans-product-option .ec-product-radio > li { display:inline-block; margin:0 0 3px; }
#sidebar_right .xans-product-detail .infoArea .xans-product-option .ec-product-radio label { margin:0 7px 0 0; }
#sidebar_right .xans-product-detail .infoArea .xans-product-option .ec-product-radio label input { margin:0 2px 0 0; }
#sidebar_right .xans-product-detail .infoArea .xans-product-option .ec-product-radio .ec-product-disabled,
#sidebar_right .xans-product-detail .infoArea .xans-product-option .ec-product-radio .ec-product-soldout { color:#d7d7d7; }


#sidebar_right .infoArea.set_prd .xans-product-option .value { padding:5px 10px 7px 0 }



/*
#sidebar_right {display:block; overflow: overlay; background:white !important; top:0; right:0; position:fixed !important; width:200px !important; height: 100%; padding: 20px; 
    box-shadow: 0 3px 7px 1px rgba(0,0,0,0.05); -webkit-box-shadow: 0 3px 7px 1px rgba(0,0,0,0.05); z-index:1 !important; 
    transition: all 0.1s ease; -khtml-transition: all 0.1s ease; -moz-transition: all 0.1s ease; -ms-transition: all 0.1s ease; -o-transition: all 0.1s ease; transition: all 0.1s ease;  }
@media (max-width: 1280px){
    .infoArea_scroll_fixed {display:none;}
}

*/