/* 섹션 사용하지 않을 경우 */
#section_on_off.off { display:none !important }

/* 공통 */
#wrap { position:relative;  overflow:hidden; clear:both; /*margin:80px 5% 20px;*/   }
#wrap:after { content:""; display:block; clear:both; }
#container { width:1080px; padding:20px 0 200px;  margin:0 auto 0; *zoom:1; position:relative; }
#container:after { content:""; display:block; clear:both; }
#contents {   }

/* 오른쪽 사이드바 움직일수있는 영역설정 */
#wrap_sidebar_right{ position: relative;}

/* 공통 마진 */
.container_inner { margin: 0 auto; padding: 0 0px; width: 1080px; }
.container_scroll_fixed { margin-top: 160px; }

/* 풀사이즈 넓이 배너 */
#banner_full {width: 100%;}
#banner_full img {min-width: 100%; height: auto;}

/* 장바구니 왼쪽 이미지 */
#delivery_notification a img {width: 15%; top: 370px; left: 50px; position: fixed; display: block; z-index: 3; }
@media screen and (max-width: 1500px) { #delivery_notification a { display: none;} }
@media screen and (max-width: 1750px) { #delivery_notification a img { width: 10%;} }

/* 박스 쉐도우 스타일들 */
.shadow-regular { box-shadow: 0 1px 2px rgba(0,0,0,0.15);}
.shadow-card { box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);}

/* 타이틀 */
.titleArea {  min-height: 30px; padding: 0 0 34px; text-align: center; }
.titleArea h2 {   font-size: 26px; letter-spacing:0.08em;   font-weight:normal }
.titleArea p { font-size:14px; font-weight:300; line-height:1.6; color:#777; }
.titleArea h2 font { color:#111 !important }
.titleArea ul { padding:13px 0 0; line-height:20px; }
.titleArea ul > li { font-size:15px; line-height:1.5; letter-spacing:-0.03em; color:#999; }
.xans-board-title .title {  min-height: 30px; padding: 0 15px; }
.xans-board-title .title h2 {  font-size: 26px; letter-spacing:0.08em; color: #111 !important;  padding: 0 0 25px; }
.xans-board-title .title h2 font { color: #222 !important;  }
.xans-board-title .title p { font-size:15px; font-weight:300; line-height:1.6; display: none; }

#sub_img { display:none;   }

/* 우측 하단 스크롤 아이콘 */
#scroll_sns_icon { position:fixed; text-align:center; right:10px; bottom:50%; cursor:pointer; z-index:99999; }
#scroll_sns_icon a { width:40px; height:40px; margin:0 0 5px; padding:12px 0 0; background:#000 ; display:block; border-radius: 100%; -moz-border-radius: 100%; -webkit-border-radius: 100%; }

#bottom_bottom { position:fixed; text-align:center; right:10px; bottom:20px; cursor:pointer; z-index:99999; color:gray; margin-right: 20px;}
#bottom_bottom span:hover { color:#000271; }
/* 소개 */
#mall_company { width:100%; margin:0 auto; }
#mall_company .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
#mall_company .embed-container iframe, #mall_company .embed-container object, #mall_company .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
#mall_company .mov { margin:0 auto; padding:50px 0 0; }
#mall_company .text { text-align:center; line-height:1.4; }
#mall_company .text h2 { font-size:40px; letter-spacing:-0.05em; padding:50px 0 0; }
#mall_company .text p { line-height:1.8; padding:60px 0 50px; font-size:20px; font-weight:300; letter-spacing:-0.03em }
#mall_company .img_zone { text-align:center }
#mall_company .img_zone img { max-width:100%; padding:40px 0 40px; }

/* 탐색경로바 */
.path { display:none }
.path span { overflow:hidden; position:absolute; width:0; height:0; white-space:nowrap; text-indent:100%; }
.path ol { float:right; }
.path li { float:left; padding:0 0 0 12px; margin:0 0 0 8px; color:#757575; background:url("//img.echosting.cafe24.com/skin/base/layout/ico_path.gif") no-repeat 0 10px; }
.path li:first-child { background:none; }
.path li a { color:#757575; }
.path li strong,
.path li strong a { color:#2e2e2e; }

/* 공통 */
.font_s_10 { font-size:10px }
.ec-base-box.typeProduct .information { padding:0 0 0 30px !important }

/* read - 상품 */
.ec-base-box.typeProduct { padding:0px 0 !important;}
.xans-board-readpackage .ec-base-box.typeProduct{ margin:0px 0 0 !important; /*text-align:center;*/ }
.xans-board-readpackage .ec-base-box.typeProduct .information {  padding:0 0 0px !important }
.xans-board-readpackage .xans-board-product .information .icon_img { margin:0 1px 0 0; }
.xans-board-readpackage .xans-board-product .information a.name { font-size:17px; display:inline-block; line-height:2; text-align:left; }
.xans-board-readpackage .xans-board-product .information a.name span { display:block; }
.xans-board-readpackage .xans-board-product .information h3 { margin:7px 0 5px; font-weight:400; font-size:15px; letter-spacing:0; color:#2e2e2e; }
.xans-board-readpackage .xans-board-product .information .price { font-size:15px !important; color:#222;  }
.xans-board-readpackage .xans-board-product .information .button { margin:9px 0 0 0; padding:6px 0 0 0; }
.xans-board-readpackage .xans-board-product.ec-base-box { border:0 }
.xans-board-readpackage .xans-board-product.ec-base-box.typeProduct { /*padding:33px 0 0; margin:0 auto 20px !important; border-top:1px solid #ececec; */ }
.xans-board-readpackage .xans-board-product.ec-base-box.typeProduct a img { border:0; /*margin:-30px 18px 0 0; width:110px;*/ }
.xans-board-read .ec-base-table .detail { border-top:0;  /*margin:10px 0 30px;*/ line-height:20px !important; }
.xans-board-read .ec-base-table table:before { height:0 }
.xans-board-read .ec-base-table table { border-bottom:0; /*margin:-17px 0 0;*/ }
.xans-board-read .ec-base-table td,
.xans-board-read .ec-base-table tbody th { border-top:0;  }
.xans-board-read .ec-base-table tbody th  { display:none }
.xans-board-read .ec-base-table.typeWrite td { padding:5px 0px 6px !Important; font-size:15px; }
.xans-board-read .ec-base-table.typeWrite td .etcArea strong { display:none }
.xans-board-read a.board_vote { position:absolute; right:0; top:30px;  }
.xans-board-read .gLeft,
.xans-board-read .gRight { float:none !important; text-align:center;  }
#prdDetail.lookbook img { max-width:1240px }

/* read - 일반 */
.xans-board-read .ec-base-table { font-size:17px }
.xans-board-read .ec-base-table .detail { font-size: 20px; font-weight:300; line-height:1.7 !important; }
.xans-board-read .ec-base-table table tr:first-child td { width:100%; font-weight:600; font-size:25px !important;  padding:50px 10px 3px !important }
.ec-base-table .attach  { display:none }

/* list */
.xans-board-listpackage { margin:0 0 10px; }
.xans-board-listpackage .ec-base-table { clear:both; color:#000; }
.xans-board-listpackage .ec-base-table,
.xans-board-listpackage .ec-base-table .txtNum {  font-size:15px; }
.xans-board-listpackage .ec-base-table a,
.xans-board-listpackage .ec-base-table font { color:#000 !important; font-size:16px !important; font-weight:300; }
.xans-board-listpackage .ec-base-table thead th { font-size:13px !important }
.xans-board-listpackage .ec-base-table .subject img { margin:0 1px; }
.xans-board-listpackage .ec-base-table .thumb { text-align:center !important; padding:15px 0 !important; }
.xans-board-listpackage .ec-base-table .thumb a { overflow:hidden; }
.xans-board-listpackage .ec-base-table .thumb img { width:60px; display:inline-block; }
.xans-board-listpackage .ec-base-table .thumb span {   width:220px; padding:0 0 0 12px; vertical-align:middle; line-height:18px; display:none;  font-size:11px; text-align:left; }
.xans-board-listpackage .ec-base-table .thumb_img { position:absolute; display:inline-block !important; left:93px; margin:-1px 0 0; }
.xans-board-listpackage .ec-base-table .thumb_img.displaynone {  display:none !important }
.xans-board-listpackage thead.xans-board-listheader { display:none !important }
.xans-board-buttonlist.ec-base-button.typeBG { border-top:0 none; }
.xans-board-listpackage .boardSort { position:absolute; padding: 0 15px; }

/* 게시판 검색창 */
.xans-board-search p.category:before { content:""; }
.xans-board-search p:before { content:""; }
.xans-board-search select { margin:-1px -4px 0 0 !important;  height:33px; font-size:14px; width:85px; padding:0 5px; moz-appearance: none; -webkit-appearance: none; appearance: none; }
.xans-board-search input { margin:-1px 0 0 !important; height:33px !important;  }
.xans-board-search .dj-btn-6  { padding:8px 23px 7px; font-size:13px; font-weight:bold;  margin:-1px 0 0 -8px; vertical-align:top; }
.xans-board-function { text-align:center; padding:50px 0 0  }
.xans-board-search select#search_date,
.xans-board-search select#search_key { background-image:url(/_dj/img/selector_arrow_icon.png); background-repeat:no-repeat; background-position:85% 14px; } 
.xans-board-search select::-ms-expand {display:none}

/* write */
#boardWriteForm .ec-base-table.typeWrite { font-size:16px }
.xans-board-modify .ec-base-table #subject { font-size:15px; }
.xans-board-write .ec-base-table tr.agree td textarea { width:560px; height:140px; margin:0 0 10px; }
.xans-board-write .ec-base-table #subject { width:390px; font-size:15px; }
.xans-board-write .ec-base-table #captcha { width:160px; }
.xans-board-write .ec-base-table #ucc_width, .xans-board-write table #ucc_height { width:40px; margin-left:4px; }
.xans-board-write .ec-base-table #email1 { margin:0 4px 0 0; }
.xans-board-write .ec-base-table #email2 { margin:0 4px; }
.xans-board-write .ec-base-button { font-size:0; margin:10px 0 40px; }
.xans-board-write .ec-base-button  a { margin:0 4px }
.xans-board-write .ec-base-box.typeProduct .information { text-align:left !important; padding:0 0 0 px !important }
.xans-board .information .price { color:#222 !important;  font-weight:normal !important; }
.xans-board .information #sPrdCommonImg { display:none }
.xans-board .information .button { border-top:0 !important; margin:0  !important }
.xans-board .information h3 { margin:0 0 5px !important }

/* 갤러리 */
.xans-board-listpackage-8 .notice { border:0 }
.xans-board-listpackage-8 .xans-board-list-8 {  }
.xans-board-listpackage-8 .xans-board-list-8 li { position:relative; width:33.333%; transition: 0.3s; margin:0 0 50px 0 !important }
.xans-board-listpackage-8 .xans-board-list-8 li a.imgLink, .xans-board-listpackage-8 .xans-board-list-8 li a.imgLink:hover { overflow: hidden; width: 1055px; height: 150px; }
.xans-board-listpackage-8 .xans-board-list-8 li .imgLink img { display:block; height: inherit; width: inherit; }
.xans-board-listpackage-8 .xans-board-list-8 li a.imgLink,
.xans-board-listpackage-8 .xans-board-list-8 li a.imgLink:hover { font-weight:bold; font-size:0px; line-height:26px; padding:12px 15px 0; }

.xans-board-listpackage-8 .xans-board-list-8 li span { width:auto; margin:10px 15px; }
.xans-board-listpackage-8 .xans-board-list-8 li .boardChk { position:absolute; top:25px; right:20px; margin:0 0 10px 15px }
.xans-board-listpackage-8 .xans-board-list-8 li span { display:none; } 

.xans-board-listpackage-8 .xans-board-list-8 li .content { display: none; height:50px; overflow:hidden; font-size:15px; color:#999; line-height:1.4;  padding:10px 15px; font-weight:300; }
.xans-board-listpackage-8 .ec-base-button .gRight { float:none; text-align:center }
.xans-board-movement-8 { display:none }

/* 검색 */
.xans-board-search { padding:20px 0 20px 10px; text-align:center; color:#2e2e2e; font-size:12px; }
.xans-board-search .boardSearch { display:block; }
.xans-board-search p { margin:0 0 10px; }

/* 옵션 미리보기 */
.xans-product-optionpreview .prdOption { position:absolute; left:0; top:35px !important; z-index:100; width:300px; margin:0 0 0 -141px; }
.xans-product-optionpreview .prdOption li { padding:6px 0 7px; font-size:11px; color:#888;  display:block !important; border-top:1px solid #d6d4d4; text-align:left; line-height:16px; }
.xans-product-optionpreview .prdOption li:last-child { border-left:0 !important }
.xans-product-optionpreview .prdOption .close a { border:0 !important }

/* 관심상품 */
.ec-base-table.xans-myshop-wishlist { margin:68px 0 0; }

/* 장바구니 */
.xans-order-dcinfo { margin:60px 0 20px !important }
.xans-order-dcinfo .description .mileage li strong { color:#222; }
.xans-order-basketpackage  { font-size:14px }
.xans-order-basketpackage .xans-order-tabinfo { font-size:15px }
.xans-order-basketpackage .xans-order-empty p { margin:50px 0; font-size:20px; text-align:center; color:#707070; letter-spacing:0 !important; font-weight:300 !important; }
.xans-order-basketpackage .orderListArea .title { height:38px; margin:20px 0 0; padding:0 0 0 9px; border-bottom:1px solid #d7d5d5; border-bottom:0; line-height:38px; background:#fff; }
.xans-order-basketpackage .orderListArea .title h3 { color:#353535; font-size:12px; }
.xans-order-basketpackage .orderListArea .title + table { margin:0; }
.xans-order-basketpackage .orderListArea .title + table input[type=radio], 
.xans-order-basketpackage .orderListArea .title + table input[type=checkbox] { width:16px; height:16px }
.xans-order-basketpackage .ec-base-table tfoot.right { font-size:20px }
.xans-order-basketpackage .ec-base-table tfoot.right .txt18 { font-size:20px }
.xans-order-basketpackage .ec-base-table tfoot td .gLeft { float:left; margin:6px 0 0; }
.xans-order-basketpackage .ec-base-table td.thumb img { max-width:80px; }
.xans-order-basketpackage .ec-base-table td.button img { margin:1px 0; }
.xans-order-basketpackage .ec-base-table .name .ec-set-product-name { display:block;  }
.xans-order-basketpackage .ec-base-table .name .ec-product-name { font-size:17px;  } 
.xans-order-basketpackage .ec-base-table.typeList .center td.right { font-size:17px }
.xans-order-basketpackage .ec-base-table .engName { display:block; }
.xans-order-basketpackage .ec-base-table td div.option,
.xans-order-basketpackage .ec-base-table td ul.option > li { margin:9px 0 0; color:#707070; line-height:16px; }
.xans-order-basketpackage .ec-base-table td ul.option > li > strong { display:block; color:#353535; }
.xans-order-basketpackage .ec-base-table td div.option span.file a,
.xans-order-basketpackage .ec-base-table td ul.option > li > span.file a { margin:0 0 0 4px; padding:0 0 0 11px; color:#707070; text-decoration:underline; background:url("//img.echosting.cafe24.com/skin/base/common/ico_file.gif") no-repeat 0 2px; }
.xans-order-basketpackage .xans-order-allotmentinfo { padding:10px 0 8px 10px; border-bottom:1px solid #e8e5e4; }
.xans-order-basketpackage .xans-order-allotmentinfo .info { padding:8px 0 0 23px; color:#707070; font-size:11px; line-height:1.5; background:url("//img.echosting.cafe24.com/skin/base/common/ico_info.gif") no-repeat 0 8px; }
.xans-order-basketpackage .xans-order-basketpriceinfoguide p.info { padding:8px 0 8px 33px;  color:#757575; line-height:1.5; font-size:11px; background:url("//img.echosting.cafe24.com/skin/base/common/ico_info.gif") no-repeat 9px 8px; }
.xans-order-basketpackage .xans-order-selectorder { margin:0 0 40px; }
.xans-order-basketpackage .xans-order-totalorder { margin:10px 0 40px; }
.xans-order-basketpackage .xans-order-empty p { font-weight:normal; letter-spacing:1px; border-bottom:1px solid #e1e1e1; padding:60px 0 75px; margin:0 0 20px }
.xans-order-basketguide.ec-base-help { display:none }
.xans-order-basketpackage .ec-base-box.typeMember .information .description { font-size:15px !important }
.xans-order-basketpackage .ec-base-box.typeMember .information > .title { font-size:20px !important }

/* 장바구니 담기 확인창 */
.xans-order-layerbasketpackage.ec-base-layer .header { background:#222 !important }
.xans-order-layerbasketpackage.ec-base-layer .close { background:#222 !important }
.xans-order-layerbasketpackage .xans-order-layerbasket.content .totalCount strong { color:#111 !important }

/* 장바구니 담기 - 옵션선택 */
.totalPrice .total,
#totalProducts table .right { color:#000 !important }
.xans-product-optionselectlayer .inner .name { border-bottom:1px solid #e1e1e1 }

/* Total */
.xans-order-basketpackage .ec-base-table.total table {  border:1px solid #e1e1e1; margin:0 0 40px; }
.xans-order-basketpackage .ec-base-table.total table th { height:20px; border-left:1px solid #e1e1e1; font-size:20px; }
.xans-order-basketpackage .ec-base-table.total table th strong {  font-weight:300 !important; }
.xans-order-basketpackage .ec-base-table.total table td {  height:20px; border-left:1px solid #e1e1e1   }
.xans-order-basketpackage .ec-base-table.total table td .box { word-break:normal; }
.xans-order-basketpackage .ec-base-table.total table td .txt23 { font-size:23px; letter-spacing:-1px; }

/* 주문서작성 */
.xans-order-form .title { display:none }
.xans-order-form .title h3 { font-size:13px; font-weight:400; }
.xans-order-form .orderListArea .title { position:relative; height:38px; margin:0; padding:0 0 0 9px; border:0; border-bottom:0; line-height:38px; background:#fff; }
.xans-order-form .orderListArea .title .button { display:none !important }
.xans-order-form .controlInfo { padding:10px 0 8px 0; color:#999; border-top:0; font-size:11px; line-height:1.5; background:#fff; }
.xans-order-form .controlInfo.typeBtm { margin:-1px 0 0; border-top:0;; }
.xans-order-form .controlInfo li { padding:0 0 0 23px; font-size:12px; font-weight:300; background:url("//img.echosting.cafe24.com/skin/base/common/ico_info.gif") no-repeat 0 1px; }
.xans-order-form .ec-base-button { padding:10px 0 50px; border-bottom:0; }
.xans-order-form .orderArea { font-size:16px }
.xans-order-form .orderArea .ec-base-table table {  border:1px solid #e1e1e1 }
.xans-order-form .orderArea .ec-base-table tbody th { min-width:200px; border-bottom:1px solid #e1e1e1; border-top:0;  padding:17px 0 15px 18px; }
.xans-order-form .orderArea .ec-base-table tbody td { border-bottom:1px solid #e1e1e1; border-top:0; padding:17px 0 15px 18px; }
.xans-order-form .ec-base-table.typeList { font-size:17px }
.xans-order-form .ec-base-table td div.option { font-size:15px }
.xans-order-form .gBlank5 { font-weight:300; font-size:13px; margin:10px 0 0 !Important }
.xans-order-form .totalArea .ec-base-table.total th { font-size:20px !important; }
.xans-order-form .totalArea .ec-base-table.total th strong {  font-weight:300 !important  }
.xans-order-form .txt14 { font-size:17px;  }
.xans-order-form .txt14 th strong {font-weight:300 !important }
.xans-order-form .termArea .check { padding:15px !important }
.xans-order-form .termArea .check input[type=radio] + label, input[type=checkbox] + label { font-size:15px; font-weight:300; margin:4px 4px 0 8px !important }
.xans-order-form .termArea .check input[type=radio], input[type=checkbox] { width:16px !important; height:16px !important; margin:-4px 0 0; }
.xans-order-form .payArea .payHelp { margin:0 !important; font-size:15px; font-weight:300; }

/* 주문서 작성 */
.xans-order-form .totalArea .ec-base-table  table {  border-left:1px solid #e1e1e1;   border-right:1px solid #e1e1e1; }
.xans-order-form .totalArea .ec-base-table.total table { z-index:2; border:1px solid #e1e1e1;  }
.xans-order-form .totalArea .ec-base-table.total th { height:20px; letter-spacing:0; background:#fff; font-size:13px; border-left:1px solid #e1e1e1  }
.xans-order-form .totalArea .ec-base-table tbody th { border-bottom:1px solid #e1e1e1; border-top:0; }
.xans-order-form .totalArea .ec-base-table tbody td { border-bottom:1px solid #e1e1e1; border-top:0; }
.xans-order-form .totalArea .ec-base-table.total td { height:20px; background:#f9f9f9;   border-left:1px solid #e1e1e1 }
.xans-order-form .totalArea .ec-base-table.total td .box { word-break:normal; }
.xans-order-form .totalArea .ec-base-table.total .txt23 { font-size:23px; letter-spacing:0; }
.xans-order-form .totalArea .ec-base-table.gMerge table { margin:-1px 0 0; }
.xans-order-form .totalArea .ec-base-table.gMerge + .ec-base-table.gMerge table { margin:-2px 0 0; }
.xans-order-form .totalArea .ec-base-table tr.sum td { font-weight:bold; background:#fff; }

.xans-order-form .payArea { overflow:hidden; position:relative; margin:50px 0 0; padding:0 341px 0 0; border:1px solid #e1e1e1; color:#353535; line-height:1.5; }
.xans-order-form .payArea:after { position:absolute; top:0; right:340px; display:block; content:""; width:1px; height:100%; background:#e1e1e1; }
.xans-order-form .payArea .total h4 { font-size:15px }
.xans-order-form .payArea .total .paymentAgree { font-size:14px; font-weight:300; margin:10px 0 0 14px }
.xans-order-form .payArea .total .button { padding:10px; background:#222 }
.xans-order-form .payArea .total .paymentAgree input { top:2px !important }

/* 결제대행서비스 약관에 모두 동의합니다 (orderform.html)*/
.xans-order-form .payArea .total .paymentAgree input[type=radio] + label, input[type=checkbox] + label { font-size:18px !important; font-weight:500; margin:4px 4px 0 3px !important;  }
.xans-order-form .payArea .ec-base-table table { border-bottom:1px solid #e1e1e1  }
.xans-order-form .payArea .ec-base-table tbody { border-right:1px solid #e1e1e1; font-size:15px; }
.xans-order-form .payArea .ec-base-table table input[type=text], .xans-order-form .payArea .ec-base-table table input[type=password] { min-width:200px }
.xans-order-form .payArea input[type=radio], .xans-order-form .payArea input[type=checkbox] { height:18px !important; width:18px; }

/* 동의함 (orderform.html)*/
.xans-order-form .payArea .agree > table > tbody > tr > td label strong { height:18px !important; width:18px; font-size: 18px; }

.xans-order-form .payArea input[type=radio] + label, .xans-order-form .payArea input[type=checkbox] + label { margin:0 10px 0 6px !important }
.xans-order-form .payArea .ec-base-table th,
.xans-order-form .payArea .ec-base-table td { padding:10px 0 10px 10px; border-left:1px solid #ececec; vertical-align:middle; }
.xans-order-form .payArea .method { padding:17px 20px 15px; font-weight:bold; border-bottom:1px solid #e1e1e1; }
.xans-order-form .payArea .method span { display:inline-block; margin:0 15px 5px 0; font-size:20px; }
.xans-order-form .payArea .method span img { vertical-align:middle; margin:0 2px 0 0; }
.xans-order-form .payArea .total { width:340px !important; margin:0 -341px 0 0 !important; font-size:15px; }
.xans-order-form .payArea .total .mileage { padding:3px 25px 15px 0; font-size:13px;  }
.xans-order-form .payArea .total .mileage strong { padding:0 6px 0 0; font-weight:normal; }
.xans-order-form .payArea .total .mileage span {  font-weight:bold; }
.xans-order-form .payArea .total .price { margin:10px 10px 0 0;  color:#222 !important; font-size:14px; }
.xans-order-form .payArea .total .price input#total_price { width:190px; height:auto; padding:0; border:0; color:#222; font-size:40px; font-weight:bold; letter-spacing:0px; line-height:normal; background:#fbfafa; }
.xans-order-form .totalArea .ec-base-table.total td .box { text-align:center; }
.xans-order-form .ec-base-button.btnCheckout  {  margin:10px 0; padding: 10px; background: #222; }
.xans-order-form .ec-base-button.btnCheckout a span { border:0; background:transparent; color:#fff; padding:20px 0; font-size:30px; }

.xans-order-form .ec-base-box.typeMember .information .description { font-size:15px !important }
.xans-order-form .ec-base-box.typeMember .information > .title { font-size:20px !important }
.xans-order-form #simpleJoinDataForm,
.xans-order-form #simpleJoinDataForm input[type=radio] + label,  #simpleJoinDataForm input[type=checkbox] + label  { font-size:15px !important; }

/* 주문완료 */
.xans-order-result tbody th,
.xans-order-result tbody td { font-size:17px }
.xans-order-result .txt18 { font-size:30px }
.xans-order-result .orderStep { display:none;  }
.xans-order-result .title h3 { font-size:20px }
.xans-order-result .orderInfo { width:580px; font-size:16px;  }
.xans-order-result .orderInfo li strong { font-size:20px !important }

/* 주문 조회 */
.xans-myshop-orderhistorydetail { font-size:17px }
.xans-myshop-orderhistorydetail .title h3 { font-size:22px ; font-weight:400 }
.xans-myshop-orderhistorylistitem .title h3 { font-size:20px ; font-weight:400 }
div.ec-base-help { font-size:12px }

/* 간단회원가입 */
.xans-order-form .joinArea .ec-base-box { border-color:#e1e1e1 }

/* 타이틀안보이게 */
.xans-member-checkpassword .confirm h3,
.xans-member-joincomplete .joinComplete h3,
.xans-member-findpasswd .findPw h3,
.xans-member-findid .findId h3 {display:none }

/* 회원가입 */
.xans-member-join { width:1030px; margin:0 auto }
.xans-member-join > h3 { font-size:25px; font-weight:400; padding:80px 0 10px; }
.xans-member-join .ec-base-box.gStrong strong { font-size:16px; font-weight:400 !important }
.xans-member-join .ec-base-table { font-size:15px;  font-weight:400  }
.xans-member-join .ec-base-table table tbody { border:0 }
.xans-member-join .ec-base-table tbody th { padding:23px 0 10px 0; font-size:18px; border:0; width:140px; border-right:0; background:#fff }
.xans-member-join .ec-base-table tbody td { padding:17px 0 7px 28px; background: #fff; border:0; }
.xans-member-join #phone1, .xans-member-join #mobile1 { width:80px }
.xans-member-join #phone2, .xans-member-join #phone3, .xans-member-join #mobile2, .xans-member-join #mobile3 { width:96px }
.xans-member-join .ec-base-table table tbody select { height:40px; }
.xans-member-join .ec-base-table.line2 table tbody input { margin:0 10px 0 0;  padding:0 0 0 10px; font-size:18px; font-weight:700; width:300px; height:40px; }
.xans-member-join .ec-base-box.gStrong { background:#fafafa }
.xans-member-join .agreeArea h3 { font-size:18px; font-weight:400; margin:0 0 15px; }
.xans-member-join .agreeArea .check { font-size:15px; color:#000; font-weight:300; padding:20px 0 5px 0; }
.xans-member-join .agreeArea .check li { padding:0 0 5px }
.xans-member-join .ec-base-box.typeThinBg { margin:20px 0 !important }

/* 아이디 찾기 */
.xans-member-findid { border:0 !important }
.xans-member-findid .findId { width:560px !important; padding:30px 90px; border-bottom:1px solid #e1e1e1;  border-top:1px solid #e1e1e1; font-size:16px;  }
.xans-member-findid .findId,
.xans-member-findid .findId select,
.xans-member-findid .findId strong { font-weight:300; }
.xans-member-findid .findId strong { padding:0 !important; background:none !important }
.xans-member-findid .findId #name, .xans-member-findid .findId #email { width:235px !important }
.xans-member-findid .findId .member select { width:233px !important; }
.xans-member-findId .findId .ec-base-desc li { margin:8px 0 0 !important }
.xans-member-findid .findId .check { margin-left:144px !important }
.xans-member-findid .findId #mobile1 { width:69px }
.xans-member-findid .findId #mobile2,
.xans-member-findid .findId #mobile3 { width:69px }
.xans-member-findid .findId .ec-base-button { margin:7px 0 0 27px !important }

/* 비밀번호 찾기 */
.xans-member-findpasswd { border:0 !important }
.xans-member-findpasswd .findPw { width:590px !important; padding:30px 90px; border-bottom:1px solid #e1e1e1;  border-top:1px solid #e1e1e1; font-size:16px;  }
.xans-member-findpasswd .findPw,
.xans-member-findpasswd .findPw select,
.xans-member-findpasswd .findPw strong { font-weight:300; }
.xans-member-findpasswd .findPw strong { padding:0 !important; background:none !important }
.xans-member-findpasswd .findPw .ec-base-desc li { margin:8px 0 0 !important }
.xans-member-findpasswd .findPw #name, .xans-member-findpasswd .findPw #email { width:235px !important }
.xans-member-findpasswd .findPw .member select { width:233px !important; }
.xans-member-findpasswd .findPw .check { margin-left:144px !important }
.xans-member-findpasswd .findPw #mobile1 { width:69px }
.xans-member-findpasswd .findPw #mobile2,
.xans-member-findpasswd .findPw #mobile3 { width:69px }
.xans-member-findpasswd .findPw .ec-base-button { margin:7px 0 0 40px !important }

/* 결과 */
.xans-member-findidresult { border:0 !important; font-size:15px; font-weight:300; }
.xans-member-findidresult .findId h3 { display:none }
.xans-member-findidresult .findId p.info {  color:#222 !important; }

/* 상품 미리보기 */
.xans-product-zoom .infoArea {  float:left; padding:0 0 0 15px; }
.xans-product-zoom .infoArea li,
.xans-product-zoom .infoArea li span,
.xans-product-zoom .infoArea li #span_product_price_text,
.xans-product-zoom .infoArea li #span_product_price_sale { color:#222 !important }
.xans-product-zoom .infoArea li { padding:0 0 5px; }
.xans-product-zoom .imgArea .listImg { margin:15px auto 0; width:auto; }
.xans-product-zoom .imgArea .listImg li { margin:0 8px 0 0 }
.xans-product-zoom .imgArea .listImg li img { width:70px; height:auto; border:0; cursor:pointer; }
.xans-product-zoom .imgArea .likeButton { display:none }
.xans-product-zoom .infoArea .guideArea .info,
.xans-product-zoom .infoArea .ec-base-help,
.xans-product-zoom .xans-product-detaildesign tr:first-child { display:none }
.xans-product-zoom .totalPrice { padding:10px 9px 9px 0; border-top:1px solid #e1e1e1; }
.xans-product-zoom #totalProducts { margin:6px 0 0 }
.xans-product-zoom #totalProducts tbody tr:first-child td { border-top:1px solid #e1e1e1 }
.xans-product-zoom .totalPrice .total em { font-size: 18px }
.xans-product-zoom .xans-product-action { border-top:0 !important }
.xans-product-zoom .xans-product-action .ec-base-button a img { margin:0 3px 0 0; }
.xans-product-zoom .ec-base-button { margin:10px 0 0; border-top:0; background:#fff; padding:0;}
.xans-product-zoom .ec-base-button .dj-btn-1-2 { width:185px }

/* 장바구니 상품 옵션 */
.xans-product-optionselectlayer .xans-product-option { position:relative; }
.xans-product-optionselectlayer .xans-product-option tr { position:relative; border-bottom:1px solid #e1e1e1; padding:0 0 6px; margin:0 0 6px; }
.xans-product-optionselectlayer .xans-product-option .value { color:#767479; position:absolute;  right:0; top:10px; word-break:break-all; font-size:11px; padding:0; }
.xans-product-optionselectlayer .xans-product-option .value .ec-product-value { color:#363437;  font-size:11px; margin:0 0 0 3px; }
.xans-product-optionselectlayer .xans-product-option .ec-product-button li { position:relative; overflow:hidden; display:inline-block; margin:0 2px 0 0; vertical-align:top;  background:#fff; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; *display:inline; *zoom:1; }
.xans-product-optionselectlayer .xans-product-option .ec-product-button li:last-child { margin-right:0; }
.xans-product-optionselectlayer .xans-product-option .ec-product-button li a { display:block; min-width:28px; text-align:center; text-decoration:none;  border:2px solid #fff; word-break:break-all; }
.xans-product-optionselectlayer .xans-product-option .ec-product-button li a span { display:inline-block; padding:4px 7px 5px; font-size:11px; border:1px solid #e1e1e1;-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
.xans-product-optionselectlayer .xans-product-option .ec-product-button.ec-product-preview { margin:-3px 0 0 -4px }
.xans-product-optionselectlayer .xans-product-option .ec-product-button.ec-product-preview li { border:3px solid #fff }
.xans-product-optionselectlayer .xans-product-option .ec-product-button.ec-product-preview li a { min-width:22px; width:22px; height:22px;  border-radius:100%; -moz-border-radius:100%; -webkit-border-radius:100%;}
.xans-product-optionselectlayer .xans-product-option .ec-product-button.ec-product-preview li a img { max-width:100%; max-height:100%; }
.xans-product-optionselectlayer .xans-product-option .ec-product-button.ec-product-preview li a span {  border:0; overflow:hidden; line-height:0; font-size:0; padding:0; text-indent:120%; white-space:nowrap; }
.xans-product-optionselectlayer .xans-product-option .ec-product-button.ec-product-preview .ec-product-soldout span,
.xans-product-optionselectlayer .xans-product-option .ec-product-button.ec-product-preview .ec-product-disabled span { position:absolute; left:0; top:0; z-index:1; }
.xans-product-optionselectlayer .xans-product-option .ec-product-button.ec-product-preview .ec-product-soldout span { background:url("//img.echosting.cafe24.com/skin/base/product/soldout_bg.png") repeat; }
.xans-product-optionselectlayer .xans-product-option .ec-product-button .ec-product-soldout { border-style:dashed; }
.xans-product-optionselectlayer .xans-product-option .ec-product-button .ec-product-soldout a span { display:inline-block; width:100%; height:100%; cursor:not-allowed; color:#d7d7d7; }
.xans-product-optionselectlayer .xans-product-option .ec-product-button .ec-product-soldout.ec-product-selected { border-style:dashed; }
.xans-product-optionselectlayer .xans-product-option .ec-product-button .ec-product-disabled a { cursor:default; border:2px solid #fff; }
.xans-product-optionselectlayer .xans-product-option .ec-product-button .ec-product-disabled a span { border:1px solid #e1e1e1; display:inline-block; width:100%; height:100%; color:#000;  background:#fff; font-size:11px;  }
.xans-product-optionselectlayer .xans-product-option .ec-product-button .ec-product-selected {  }
.xans-product-optionselectlayer .xans-product-option .ec-product-button .ec-product-selected a { background:#222; }
.xans-product-optionselectlayer .xans-product-option .ec-product-button .ec-product-selected a span { border:1px solid #222;  color:#fff !important;  }
.xans-product-optionselectlayer .xans-product-option .ec-product-button.ec-product-preview .ec-product-selected a { border:2px solid #222 !important; }
.xans-product-optionselectlayer .xans-product-option .ec-product-radio > li { display:inline-block; margin:0 0 3px; }
.xans-product-optionselectlayer .xans-product-option .ec-product-radio label { margin:0 7px 0 0; }
.xans-product-optionselectlayer .xans-product-option .ec-product-radio label input { margin:0 2px 0 0; }
.xans-product-optionselectlayer .xans-product-option .ec-product-radio .ec-product-disabled,
.xans-product-optionselectlayer .xans-product-option .ec-product-radio .ec-product-soldout { color:#d7d7d7; }

/* 검색 */
.xans-search-form .searchbox #keyword { font-size:15px; }
.xans-search-form .noData { font-size:25px }
.xans-search-form .searchbox .item input { font-size:15px }


/* 기타 */
.xans-member-checkpassword .confirm .info strong { color:#222; }
.xans-member-joincomplete .joinComplete .desc { margin:0 0 30px; font-size:20px; color:#222; font-weight:bold; }
.xans-myshop-orderstate { border:1px solid #e1e1e1 }
.xans-myshop-orderstate .desc em,
.xans-myshop-orderstate .cs .count,
.xans-myshop-orderstate .order .count,
.xans-myshop-asyncbankbook .use { color:#222; }
.xans-myshop-summary ul li { font-size:15px }
.xans-myshop-summary .title { background: url(//img.echosting.cafe24.com/skin/base/common/ico_arrow.png) no-repeat 0 8px; }
.xans-myshop-couponserial .couponSerial p { font-size:15px; font-weight:300; }

/* 이용 약관 등 */
.xans-mall-privacy .ec-base-box.typeThinBg,
.xans-mall-term.ec-base-box.typeThinBg { margin:0 12% }
.ec-base-box.typeThinBg > .agree { font-size:16px; line-height:1.7 !important; font-weight:300; padding:30px !important }
.xans-mall-faq { margin:0 12% }
.xans-mall-faq h3 { font-size:20px !important }
.xans-mall-faq .cont { font-size:16px; line-height:1.7 !important; font-weight:300; padding:15px 30px 40px !important }
.xans-mall-faq .ec-base-tab[class*="grid"] .menu li:first-child.selected { right:-1px }
.xans-mall-faq .ec-base-tab .menu { border-right:1px solid #e1e1e1 }

/* 팝업 공통 레이어 */
#popup .ec-base-layer { border:1px solid #e1e1e1 }
.ec-base-layer { font-family:'Nanum Gothic' }
.ec-base-layer .content { padding:10px 20px 20px }
.ec-base-layer .header { padding:7px 35px 7px 19px; color:#222; background:#fff; }
.ec-base-layer .close { background:#c9c9c9; padding:11px 11px; margin:0 6px 0 0; }
*, *:before, *:after { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

/* DJ 팝업 공통 */
.dj-pop-con { z-index:10; position: fixed; top: 0; right: 0; bottom: 0; left: 0; background: rgba(0, 0, 0, 0.7); display:none; -webkit-transition: opacity 400ms ease-in; -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in; pointer-events: none;}
.dj-pop-con:target { display:block !important; pointer-events: auto; }
.dj-pop-con .pop_inner { z-index:-1; box-shadow: 8px 8px 20px 0 rgba(0,0,0,.1); position: absolute; top: 15%; left: 50%; width: 580px; height: 66%; margin:0 0 0 -290px; background-color: white; overflow: auto;}
.dj-pop-con .pop_inner .close_btn { padding:5px; position:absolute; right:15px; top:15px;}
.dj-pop-con .pop_inner .titleArea { padding:20px 0 20px !important; }
.dj-pop-con .pop_inner .titleArea h2 { display:none }
.dj-pop-con .pop_inner .xans-member-login .login { padding:30px 0 20px 0  !important }
.dj-pop-con .pop_inner .xans-myshop-orderhistorynologin h3 { padding:20px 0 0 }
.dj-pop-con .pop_inner .xans-myshop-orderhistorynologin .button {  margin:0 0 0 302px; bottom:5px; }

/* ScrollTrigger */
.fromTopIn {transition: transform 1.0s ease, opacity 1.0s ease; transform: translate(0,0);opacity: 1.0;}
.fromTopOut { transition: transform 1.0s ease, opacity 1.0s ease; transform: translate(0,-30px); opacity: 0.0; }
.fromTopIn2 {transition: transform 1.0s ease, opacity 1.0s ease; transform: translate(0,0);opacity: 1.0;}
.fromTopOut2 { transition: transform 1.0s ease, opacity 1.0s ease; transform: translate(0,-50px); opacity: 0.0; }
.fromBottomIn { transition: transform 1.0s ease, opacity 1.0s ease; transform: translate(0,-30); opacity: 1.0; }
.fromBottomOut { transition: transform 1.0s ease, opacity 1.0s ease; transform: translate(0,30px); opacity: 0; }
.fromBottomIn2 { transition: transform 0.3s ease, opacity 1.0s ease; transform: translate(0,-50); opacity: 1.0; }
.fromBottomOut2 { transition: transform 0.3s ease, opacity 1.0s ease; transform: translate(0,50px); opacity: 1.0;}
.fromLeftIn { transition: transform 1.0s ease, opacity 1.0s ease; transform: translate(0px,0); opacity: 1.0; }
.fromLeftOut { transition: transform 1.0s ease, opacity 1.0s ease; transform: translate(-30px,0); opacity: 0.0; }
.fromLeftIn2 { transition: transform 1.0s ease, opacity 1.0s ease; transform: translate(0px,0); opacity: 1.0; }
.fromLeftOut2 { transition: transform 1.0s ease, opacity 1.0s ease; transform: translate(-60px,0); opacity: 0.0; }
.fromFadeIn { transition: transform 2.0s ease, opacity 2.0s ease; opacity: 1.0; }
.fromFadeOut { transition: transform 2.0s ease, opacity 2.0s ease; opacity: 0.0; }
.fromRightIn { transition: transform 1.0s ease, opacity 1.0s ease; transform: translate(0px,0); opacity: 1.0; }
.fromRightOut { transition: transform 1.0s ease, opacity 1.0s ease; transform: translate(20px, 0); opacity: 0.0; }
.fromRightIn2 { transition: transform 2.0s ease, opacity 1.0s ease; transform: translate(0px,0); opacity: 1.0; }
.fromRightOut2 { transition: transform 2.0s ease, opacity 1.0s ease; transform: translate(40px, 0); opacity: 0.0; }
div.block { position: relative; }

/* 뷰포트 */
.scroll-fade { transition: transform 1s ease-in-out, opacity .5s ease-in-out; -moz-animation-delay: 3s; -webkit-animation-delay: 3s; animation-delay: 3s; }
.dj-viewport { opacity: 0; transform: translateY(40px); }
.dj-viewport.motion1 { transform: translateX(-40px) !important; }
.dj-viewport.motion2 { transform: translateX(40px) !important; }
.dj-viewport.motion3 { transform: translateY(-40px); }
.dj-viewport.motion4 { transform: translateY(40px); }
.dj-viewport.motion5 { transform: translateY(0); }

/* 공통 */
#section_1,#item_story,#special_week,#center_q,.dj_slider,#main_banner_2,#main_banner_3,.insta_title,xans-instagramwidget-display,#footer,#sweet_project { position:relative }

/* 게시판 메인 */
.boardMain { overflow:hidden; *zoom:1; }
.boardMain td img { vertical-align:middle; margin:1px; }
.boardMain .board { position:relative; margin:0 0 65px; }
.boardMain .leftArea { float:left; width:50%; }
.boardMain .leftArea .board { margin:0 23px 65px 0; }
.boardMain .rightArea { float:right; width:50%; }
.boardMain .rightArea .board { margin:0 0 65px 23px; }
.boardMain .board h3 { margin:0 0 13px; height:28px; font-size:16px; color:#2e2e2e; border-bottom:2px solid #626672; }
.boardMain .board .more { position:absolute; top:0; right:0; padding:2px; }
.boardMain .board .ec-base-table.typeList td { color:#a4a4a4; }
.boardMain .board .ec-base-table.typeList td.title a,
.boardMain .board .ec-base-table.typeList td.title a:hover { color:#4f4f4f; }
.boardMain .board .galleryList { overflow:hidden; }
.boardMain .board .galleryList ul { overflow:hidden; margin:0 -10px; }
.boardMain .board .galleryList li { float:left; position:relative; width:20%; padding:0 0 12px 0; word-break:break-all; }
.boardMain .board .galleryList li span { display:block; margin:0 10px; font-size:11px; color:#a4a4a4; }
.boardMain .board .galleryList li .imgLink,
.boardMain .board .galleryList li .imgLink:hover { display:block; margin:0 10px 5px; font-size:12px; }
.boardMain .board .galleryList li .imgLink img { width:100%; max-height:110px; border:1px solid #ededed; }



/* 퀵뷰 모달 */
#modalBackpanel { display:none; position:absolute; top:0; left:0; z-index:10000; width:100%; height:100%; background:#000; }
#modalContainer { display:none; position:absolute; top:100px; left:100px; z-index:10001; width:975px; height:720px; border:1px solid #333; background:#fff; }
#modalContainer #modalContent { width:100%; height:100%; }


/* 이미지 모달 (background) */
.modalShow { display: none; position: absolute; z-index: 900; padding-top: 100px; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; }
    /* Modal Content */
.modal-content { z-index: 1000; background-color: white; margin: auto; padding: 0 15px 15px; border: 1px solid #888; width: 50%; height: 500px; min-height: 500px; overflow: hidden; }
.modal-content img { height: 100%; }
	/* The Close Button */
.modal_close { position: relative; top: 0; right: 0; float: right; color: #aaaaaa; font-size: 28px; font-weight: bold;}
.modal_close:hover,
.modal_close:focus { color: #000; text-decoration: none; cursor: pointer;}


/* 장바구니 basket.html */
.basket_text_notification { display:block; font-weight:500; margin:20px 0 20px 0 !important; background:#ffffff; color:#222222; font-size:18px; text-align: center; }
.basket_text_notification img { width: 22px; vertical-align: bottom;}
.basket_text_notification strong { color:blue; }
.basket_text_red_strong { text-align:center; font-size: 1.5em ; color:red; }


/* 로그인 login.html */
#keepgrowLogin .syncWrap { margin: 0 auto; width: 600px;}