#header { box-shadow: none !important; -webkit-box-shadow: none !important; }
#header-h { border-bottom:0 !important }
#header .header_inner { border-bottom:0 !important }
#container {  width:100% !important;  padding:0 0 0 !important;}
/*margin:20px 0 20px; */
/*#footer { margin:120px auto 0 !important;}*/
/*#wrap_sidebar_right{ position: relative;}*/
.background_gray { background: #f5f5f5; }
.padding_bottom_extra { padding-bottom:100px; }

.main_section { padding-bottom: 100px; }
.main_section_title { clear:both; padding:70px 0 20px;  text-align:center; letter-spacing:0px; }
.main_section_title h2 { font-size:27px; font-weight:400; letter-spacing:0.1em; color:#333; font-weight: 500; display: inline-flex; vertical-align: middle;}
/* 로고 관련 */
#header .logo { position:relative; animation:animateleft 1s; -webkit-animation:animateleft 1s;  transition: 1s;  }
              @-webkit-keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1} }
              @keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1} }

.main_section_width { width:1300px; margin:0 auto !important; }

/* 공통 더보기 버튼 */
.more_btn { text-align:center;}
.more_btn a { border:1px solid #ddd; font-size:15px; padding:10px 30px; text-align:center; display:inline-block;  }

/* 공통 타이틀 */
.main_section .title { clear:both; padding:70px 0 20px;  text-align:center; letter-spacing:0px; }
.main_section .title h2 { font-size:27px; font-weight:400; letter-spacing:0.1em; color:#333; font-weight: 500; display: inline-flex; vertical-align: middle;}
.main_section .title p.bar { margin:20px auto 15px; height:2px; width:35px; display:block; background:#111; }
.main_section .title p.ment { display:block; color:#aaa; font-weight:300; padding:5px 0 0; font-size:14px; letter-spacing:-0.03em;  }

#main_section_1 {  margin:0 0; height:370px; overflow:hidden;}
/*#main_section_1:after {  content:""; clear:both; display:block;   }*/
/*#main_section_1 .section { z-index:1; width:100%; height:100%; display:block; position:relative; }*/

#main_section_ment { text-align:center; line-height:1.2; padding:80px 0 60px; }
#main_section_ment h2 { font-size:40px; font-weight:500; }
#main_section_ment p.eng { padding:0 0 15px;  color:#111; font-size:18px; font-weight:700; }
#main_section_ment p { font-size:18px; line-height:1.7; padding:20px 0 0; color:#888; font-weight:300; }

/* 메인 배너 - 이벤트 */
#main_section_banner { text-align: center; margin: 0 auto; padding-bottom: 70px; max-width: 1080px; }
#main_section_banner .title { padding: 70px 0 20px;} 
#main_section_banner .title h2 { font-size:27px; font-weight:400; letter-spacing:0.1em; color:#333; font-weight: 500; display: inline-flex; vertical-align: middle;}

#main_section_banner .list > ul { font-size:0; line-height:0;}
#main_section_banner .list > ul > li { width:33.333%; vertical-align:center; display:inline-block; padding: 10px;}
#main_section_banner .list > ul > li img { width:100%  }
#main_section_banner .list > ul > li span { font-size:18px; line-height:1.4; text-align:center; padding:25px 20px 10px; display:block; }
#main_section_banner .list > ul > li span.ment { font-size:14px;  font-weight:300; letter-spacing:-0.02em; padding:0 20px 10px; }

/* 스몰 배너 */
#main_section_banner_small .inner { width:1055px; margin:0 auto 0; }
#main_section_banner_small .inner img { width:1055px; height: auto;}
#main_section_banner_small_footer .inner { width:1055px; height:160px; margin:0 auto 0; }
#main_section_banner_small_footer .inner img {width:1055px; height: auto; overflow: hidden;}

/* 모든 메인의 상품 섹션 */
#main_section_2 { text-align: center; margin: 0 auto; max-width: 1080px;}
#main_section_2 .dj-product .prdList.grid3 { margin:0 !important; }

/* MD의 선택 버튼 */
#main_section_2 #md-buttons a {margin: 10px 5px 30px 5px;}
#main_section_2 #md-buttons .md-buttons-button { margin: 0 7px; background-color:#f4f4f4; border-radius:26px;display:inline-block;cursor:pointer;color:#333; font-size:14px;padding:9px 24px;text-decoration:none;}
#main_section_2 #md-buttons .md-buttons-button:hover { background-color:#000271; color:white;}
.md-buttons-button-active { background-color:#000271 !important; color:white !important;}

/* 스토리(현재 오프상태) */
#main_section_3 { margin:130px 0 0; background:#f5f5f5 }
#main_section_3 .main_section .title {  padding:105px 0 30px; }
#main_section_3 .inner ul:first-child {  color:#fff; text-align:center; background-image:url(/_dj/img/main_section_3_bg.jpg); height:420px; background-size:100%; background-position:center; background-attachment: fixed; }
#main_section_3 .inner ul:first-child .title p.bar { background:#fff }
#main_section_3 .inner ul.banner { width:1300px; margin:-150px auto 0; font-size:0; line-height:0; }
#main_section_3 .inner ul.banner > li { width:650px; height:430px; background:#fff; vertical-align:top; font-size:20px; display:inline-block; }
#main_section_3 .inner ul.banner > li img { width:100% }
#main_section_3 .inner ul.banner > li.text { padding:50px; line-height:1.8; letter-spacing:-0.02em; font-weight:300; }
#main_section_3 .inner ul.banner > li.text h2 { padding:15px 0 15px; display:block; }
#main_section_3 .inner ul.banner > li.text p { font-size:17px; }
#main_section_3 .inner ul.banner > li.text a { border:1px solid #ddd; color:#222; margin:40px 0 0; height:44px; line-height:1.1; font-size:17px; font-weight:400; text-align:center; padding:12px 35px; display:inline-block; vertical-align:middle;  }

/* MAZAZINE */
#main_section_4 { background:#f5f5f5 }
#main_section_4.main_section .title  { padding:120px 0 0; }

#main_section_5.main_section .title  { padding:80px 0 50px; }
#main_section_5 .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
#main_section_5 .embed-container iframe, #main_section_5 .embed-container object, #main_section_5 .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* 리뷰 */
#main_section_6 
#main_section_6.main_section .title  { padding:120px 0 0; }