/*#dj-maz { padding:80px 4.5% 0; text-align:center; min-width:1100px; background:#f8f8f8; position:relative; }*/
#dj-maz { padding:80px 4.5% 0; text-align:center; max-width:1080px; background:#f8f8f8; position:relative; }

#dj-maz.main_maz { padding:0 0 90px; background:transparent;  position:relative; }
#dj-maz.main_maz .maz_list {   min-width:auto !important; padding:27px 0 0 0;  }
#dj-maz.main_maz .maz_list .list { width:25%;  min-width:150px !important;  }
#dj-maz.main_maz .maz_list .list .inner { margin:0; border:0; border-right:1px solid #e1e1e1 ; }  
#dj-maz.main_maz .more_btn { text-align:center; margin:35px 0 0; }
#dj-maz.main_maz .more_btn a { border:1px solid #ddd; background:#fff; font-size:15px; padding:10px 30px; text-align:center; display:inline-block;  }
#dj-maz.main_maz .maz_list .xans-board-list { padding:0 }

/* 10px 이상 ~ 1200px이하에서 보여짐 */ 
@media all and (min-width:10px) and (max-width:1510px)  
{
    #dj-maz .maz_list .list .foot_info li.hit { display:none !important; }
}

#dj-maz .maz_list { color:#000; width:100%; min-width:1150px; padding:47px 0 0 0; display:inline-block;  }
#dj-maz .maz_list .xans-board-list  { padding:0 0 50px }
#dj-maz .maz_list ul { clear:both; font-size:0; line-height:0  }
#dj-maz .maz_list .inner { }
#dj-maz .maz_list .list { text-align:center; display:inline-block; vertical-align:top; width:20%; margin:0 0 23px; min-width:230px; transition: 0.3s; }
#dj-maz .maz_list .list:hover { -webkit-transform: translateY(-7px); transform: translateY(-7px); transition: 0.3s; }
#dj-maz .maz_list .list .inner { display:block; position:relative;  padding:0 0 35px; border:1px solid #ddd; margin:0 10px 0; background:#fff; }
#dj-maz .maz_list .list li.bor { padding:10px 10px 20px }
#dj-maz .maz_list .list li.subject { padding:25px 20px 2px; font-size:18px; line-height:1.5; height:55px; overflow:hidden;  }
#dj-maz .maz_list .list li.subject a { color:#333; font-weight:500; letter-spacing:-0.03em; }
#dj-maz .maz_list .list li.con { font-size:13px; line-height:1.5; padding:5px 20px 0;  height:40px; overflow:hidden  }
#dj-maz .maz_list .list li.con a { font-size:13px; color:#999; font-weight:300; letter-spacing:-0.03em; line-height:1.5; }
#dj-maz .maz_list .list li.tumb {  }
#dj-maz .maz_list .list li.tumb img { width:100%;  }
