
/* 상세페이지 내 */
#p_review h2.title { padding:40px 0 0; margin:0 0 -27px; font-weight:700; letter-spacing:0.05em; display:block; font-size:18px;}
#p_review .xans-board-title .title h2 { text-align:left; }
#p_review .nodata { display:none }
#p_review.detail_p_r .dj-board-p { margin:15px 0 -40px; }
#p_review.detail_p_r .dj-board-p > ul > li  { width:16.666% }
#p_review.detail_p_r .dj-board-p > ul > li .b-list { margin:20px 10px 80px }
#prdReview .ec-base-button.typeBorder { padding:0 0 7px;  }
    
/* 포토 리뷰 */
#p_review { text-align:center; margin:0 auto; max-width:1080px; }
#p_review .imgArea { padding:20px 0; display:block; }
#p_review .xans-board-title .title h2 { padding:0 0 35px }
#p_review .icon_select { padding:5px 0 70px; }
#p_review .icon_select > ul > li { display:inline-block; margin:0 2px; }
#p_review .icon_select > ul > li a { padding:10px 12px 13px; border:1px solid #e1e1e1;    }
#p_review .icon_select > ul > li.active img { filter:alpha(opacity=100); opacity:1; -moz-opacity:1;   }
#p_review .icon_select > ul > li a img { filter:alpha(opacity=40); opacity:0.4; -moz-opacity:0.4;   }
#p_review .dj-board-p > ul { font-size:0; line-height:0 }
#p_review .dj-board-p > ul > li { display:inline-block; cursor:pointer; position:relative; width:20%; vertical-align:top;  }
#p_review .dj-board-p > ul > li .b-list { padding:0 0 30px; margin:0 10px 30px; border:1px solid #e1e1e1 }
#p_review .dj-board-p > ul > li .b-list .no { position:absolute; z-index:10; top:14px; right:20px; }
#p_review .dj-board-p > ul > li .b-list .pic_zone { background:#000; position: relative; padding-top: 100%; overflow: hidden;}
#p_review .dj-board-p > ul > li .b-list .pic_zone .empty { display:none }
#p_review .dj-board-p > ul > li .b-list .pic_zone .empty.displaynone { display:block !important }
#p_review .dj-board-p > ul > li .b-list .pic_zone .empty img { }
#p_review .dj-board-p > ul > li .b-list .pic_zone .thumb img { filter:alpha(opacity=95); opacity:0.95; -moz-opacity:0.95;   }
#p_review .dj-board-p > ul > li .b-list .pic_zone .empty,
#p_review .dj-board-p > ul > li .b-list .pic_zone .thumb, 
#p_review .dj-board-p > ul > li .b-list .pic_zone .thumb_img { position: absolute; top: 0; left: 0; right: 0; bottom: 0; -webkit-transform: translate(50%,50%); -ms-transform: translate(50%,50%); transform: translate(50%,50%);  }
#p_review .dj-board-p > ul > li .b-list .pic_zone .empty img,
#p_review .dj-board-p > ul > li .b-list .pic_zone .thumb img, 
#p_review .dj-board-p > ul > li .b-list .pic_zone .thumb_img img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; -webkit-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); transform: translate(-50%,-50%);  }
#p_review .dj-board-p > ul > li .b-list .description { line-height:1.5; padding:0 25px; }
#p_review .dj-board-p > ul > li .b-list .description .date,
#p_review .dj-board-p > ul > li .b-list .description .hit,
#p_review .dj-board-p > ul > li .b-list .description .writer,
#p_review .dj-board-p > ul > li .b-list .description .vote { display:none }
#p_review .dj-board-p > ul > li .b-list .description .subject { padding:24px 0 0; font-size:16px; height:45px;  overflow:hidden; }
#p_review .dj-board-p > ul > li .b-list .description .content { font-size:13px; color:#999; font-weight:300; padding:10px 0 0; height:49px; overflow:hidden; }
#p_review .dj-board-p > ul > li .b-list .description .point { padding:15px 0 0; }

/* 텍스트 리뷰 */
#p_review  ul.list { max-width:1200px; margin:0 auto;  border-top:1px solid #ececec;  }
#p_review  ul.list > li  { width:100% }
#p_review  ul.list > li .b-list { margin:0 10px 0;  border:0; text-align:left; height:126px; padding:0 !important; vertical-align:middle;  border-bottom:1px solid #ececec; display:block; width:100%; }
#p_review  ul.list > li .b-list .no {  z-index:10; left:0; top:49%;  }
#p_review  ul.list > li .b-list span { position:relative; display:inline-block; vertical-align:middle; -webkit-transform:none !important; -ms-transform:none !important;  transform: none !important;  }
#p_review  ul.list > li .b-list span  .thumb_img  { position:absolute; }
#p_review  ul.list > li .b-list .pic_zone { background:#fff; position:relative !important; vertical-align:middle; width:110px;  height:110px; text-align:center; margin:13px 10px 0 40px !important; }
#p_review  ul.list > li .b-list .pic_zone img {  position:relative !important; width:100px !important; height:100px !important; border:1px solid #ececec; -webkit-transform:none !important; -ms-transform:none !important;  transform: none !important; }
#p_review  ul.list > li .b-list .pic_zone .empty {   }
#p_review  ul.list > li .b-list .pic_zone, 
#p_review  ul.list > li .b-list .description { display:inline-block; vertical-align:middle; padding:0 0 0 20px; }
#p_review  ul.list > li .b-list .description { width:70%; }
#p_review  ul.list > li .b-list .description .date,
#p_review  ul.list > li .b-list .description .hit,
#p_review  ul.list > li .b-list .description .writer,
#p_review  ul.list > li .b-list .description .vote { display:none }
#p_review  ul.list > li .b-list .description .subject { padding:0 10px 0 0; height:auto; font-size:18px; }
#p_review  ul.list > li .b-list .description .content { padding:0; line-height:2; display:block; clear:both; width:100%; font-size:14px; height:30px; overflow:hidden; color:#a0a0a0 }
#p_review  ul.list > li .b-list .description .point { position:absolute; right:10px; top:45px;  }

#p_review .btn_zone { padding:50px 0 0 }
#p_review .btn_zone .ec-base-button,
#p_review .btn_zone .all_review_go { display:inline-block }


.ec-base-table [id^="product-review-read_"] td { border-top: 0px !important; padding: 0 0 20px !important; }
.xans-product-additional div.board td .view { padding: 0px 10px 0 80px; }

