#container { width: 1080px; padding: 0 0 200px !important; margin: 0 auto 0; *zoom: 1; position: relative; }
#event { width:100%; height: auto; margin: 0 auto; position:relative; text-align: center; display: block; overflow: hidden; }
#event a img { width: inherit; height: auto; margin-bottom: 10px; }