/* 공통 레이아웃 */
#header-h { box-shadow: 0 3px 7px 1px rgba(0,0,0,0.03) !important;
    -webkit-box-shadow: 0 3px 7px 1px rgba(0,0,0,0.03) !important; }
#header {  z-index:99; position:relative; width:100%; /*transition:all 0.2s ease; -webkit-transition:all 0.2s ease;*/}

#header .header_inner {  margin:0 0 0; z-index:0; padding:0; clear:both; position:relative; }
#header .header_inner:after { clear:both; display:block; content:''; }
#header .header_inner .top_banner { position:absolute; right:5%; top:4px; }
#header .header_inner .top_banner a { height:30px; line-height:29px; display:block; font-size:14px; letter-spacing:0.01em; padding:0 15px 0 17px; color:#fff; background:#111; text-align:center;  border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px; }
#header .header_inner .top_banner img { margin:-2px 0 0 7px; height:12px }


/* 상단 메뉴 옆에 | 모양 */
.border-line-addition-right:after { content: ""; position: absolute; right: 0; top: 28%; height:40%; border-right:1px solid #ddd; vertical-align:middle;}


/* 최상단 파란색 프로모션 바 */
#topNotificationBar { display: none; -webkit-font-smoothing: antialiased; background-color: #000271; /*height:41px;*/ }
#topNotificationBar p {font-weight: 400; color: white; font-size: 14px; padding: 10px 5px; display: inline-block;}
#topNotificationBar .icon-close {vertical-align: baseline;
    display: inline-block; font-size: 15px; width: 15px; height: 15px; padding: 12px; opacity: .4; color: #fff; cursor: pointer;
    position: relative; float: right; text-align: center; line-height: 15px; z-index: 2; text-decoration: none;}


/* 상단(파란색 알림바 밑) 고객센터 & 회원 바 */
#header .first_in { height:100%; text-align:center; margin: 0 auto; }
#header .first_in .top_menu { padding:10px 0;}
#header .first_in .top_menu > ul  { float:right; display:inline-block; line-height:0 }
#header .first_in .top_menu > ul > li { display:inline-block; padding:0 0 0 25px  }
#header .first_in .top_menu > ul > li a { color:#333; letter-spacing:0.03em; line-height:1.5;  font-weight:400; }
#header .first_in .top_menu > ul > li a:hover { color:#333 }
#header .first_in .top_menu > ul > li.cart { padding:0 15px 0 25px }
#header .first_in .top_menu > ul > li .cart_no { position:absolute; width:16px; height:16px; line-height:16px; margin:0 0 0 3px; background:#000271; color:#fff; font-size:10px; text-align:center; display:inline-block;  border-radius: 100%; -moz-border-radius: 100%; -webkit-border-radius: 100%; }
#header .first_in .top_menu ul li.tel {  font-size: 12px; color: #000271; vertical-align: top; margin: 0 5px; display: inline-block; padding: 1px 12px; border: 1px solid #ddd; 
    border-radius: 25px; font-weight: 600; float: left;}
#header .first_in .top_menu ul li.tel > span { font-weight: 400; color:#000; vertical-align:top; padding:1px 0 0 5px; display:inline-block; float: left; }
#header .first_in .top_menu ul li.tel > span b { color: #000271; }
#header .first_in .top_menu ul li.tel img {width: 14px; /*vertical-align: bottom;*/}

#header .first_in { position:relative;  margin:0 auto; *zoom:1;  }
#header .first_in:after { content:""; display:block; clear:both; }
#header .first_in .right_cate { margin:-2px 0 0; float:left; display:inline-block; vertical-align:top; width:300px; }
#header .first_in .left_area {  display:inline-block; width:70px;}
#header .first_in .left_area img { vertical-align:middle;  }


/* 고객센터 텍스트 위치 */
#header .first_in  .xans-layout-category li.community_btn { cursor:pointer; padding:0; text-align:left; background-repeat:no-repeat; position:relative; width: fit-content;}
#header .first_in .xans-layout-category li .community_all { display:none;left:0px; position: absolute; background:white; z-index: 2; padding: 10px; min-width: 130px; border: 1px solid #ddd;}
#header .first_in  .xans-layout-category li.community_btn:hover .community_all { display:block;  box-sizing: border-box; }
#header .first_in .xans-layout-category li .community a { line-height:1.7; font-size:15px !important; font-weight:400; display:block; color:#aaa !important;  letter-spacing:0em 
background:red !important; z-index: 2; }
#header .first_in .xans-layout-category li .community a:hover { color:#000000 !important; }


/* 네비게이션: 상단 메뉴 카테고리 */
#top_category {font-size:0;  display:block; text-align: center; margin: auto; }
#top_category .category_menu > ul { display: flex; align-items: center; padding: 10px 0;  width:1200px !important;}
#top_category .category_menu > ul > li:first-child { 			position: relative; display: inline-block; padding: 0 48px 0 20px; }
#top_category .category_menu > ul > li:first-child img { width: 19px; height: 25px; margin-right:5px; }
#top_category .category_menu > ul > li { 						position: relative;  z-index:1; display: inline-block; padding: 0 48px 0 48px; }
#top_category .category_menu > ul > li:nth-last-of-type(-n+2) { position: relative; display: inline-block; padding: 0 10px 0 10px; }
#top_category .category_menu > ul > li:last-child { 			position: relative; display: inline-block; padding: 0 10px 0 10px; }
#top_category .category_menu > ul > li a {color: #444; font-size: 16px; font-weight: 500; z-index: 1; display: inline-block; text-decoration: none; }

/* 고정 후 */
#header.header_scroll_fixed { position:fixed; top:0; background:rgba(255,255,255,0.95); box-shadow: 0 3px 7px 1px rgba(0,0,0,0.05) !important; -webkit-box-shadow: 0 3px 7px 1px rgba(0,0,0,0.05) !important; 
transition:all 0.3s ease; -webkit-transition:all 0.3s ease; }
#header.header_scroll_fixed .first_in { display:none; }
#header.header_scroll_fixed .header_inner { margin:0 auto 0 !important; }
#header.header_scroll_fixed .header_inner .top_banner { display:none }

#header.header_scroll_fixed .logo { position:absolute; margin:4px 0 17px 5%; text-align:left; }
#header.header_scroll_fixed .logo img { max-height:20px;  }

#header.header_scroll_fixed .header_inner .top_menu { display:none }
#header.header_scroll_fixed #top_category {z-index:2; margin:0 !important;}



	/* 전체카테고리 드랍다운 */
.dropdown:hover .xans-layout-category{display: block;} /* 전체카테고리 마우스 호버시 드랍다운 메뉴 보임*/

.dropdown .xans-layout-category .position > ul > li { position:relative; line-height: 1; z-index:1; /*line-height:18px;*/ vertical-align:middle; display:block; } /* 호버시 보이는 서브카테고리 */

.dropdown .xans-layout-category { padding-top:14px; display: none; position: absolute;  background-color: #fff; min-width: 160px; z-index: 1;} /* 전체카테고리 숨기기: 드랍다운 메뉴 안보임*/
.dropdown .xans-layout-category .position > ul { border: 1px solid #ddd; z-index: 1; /*position: absolute; background-color: #fff; min-width: 160px;*/ }
.dropdown .xans-layout-category ul a { color: black; padding: 12px 16px; text-decoration: none; display: block; width: 100%; font-size: 14px !important;}
.dropdown .xans-layout-category ul a:hover { color: #8385ff !important; overflow: hidden; background-color: #f1f1f1; }
	/* 서브카테고리 */
.dropdown .xans-layout-category ul a:hover .sub-category  { display: block; } /* 마우스 호버시 서브카테고리 보임 */

.dropdown .xans-layout-category .sub-category { position: absolute; width: 100%; min-height: 100%; z-index: 99; top:0; left: 100%; }
.dropdown .xans-layout-category .sub-category ul { border: 1px solid #ddd; position: absolute; overflow: hidden; background: #f1f1f1 !important; }
.dropdown .xans-layout-category .sub-category ul li a:hover { color: #8385ff !important; overflow: hidden; }
.dropdown .xans-layout-category .sub-category ul li a { color: black; padding: 12px 16px; font-size: 14px !important; text-decoration: none; display: block; min-width: 160px;}




/* 고객센터 텍스트 */
.xans-layout-category .position > ul > li.nor > a { border-top:0 !important; color:#333; font-weight:300; margin:0 13px !important; font-size: 12px; }

.xans-layout-category .position > ul > li.nor.on > a , 
.xans-layout-category .position > ul > li.nor.active > a { border-top:0 !important; }
.xans-layout-category .position > ul > li.bar { border-right:1px solid #ddd; height:16px; margin:8px 20px 0;  }
.xans-layout-category .position > ul > li.lookbook { padding:0 0 12px }

.xans-layout-category .position > ul > li > a:hover {color:#2b57c6;}
.xans-layout-category .left_bn_special { display:none }

.xans-layout-category .position > ul {text-align:left; font-size:0; line-height:0;  }
.xans-layout-category .position > ul > li { position:relative;  z-index:1; /*line-height:18px;*/ vertical-align:middle; display:inline-block; }


/* 검색창은 searchSide.css */
/* 장바구니 이미지 */
#top_category .cart img {width: 28px; height: 28px;}
/* 장바구니 이미지 옆 장바구니 갯수 */
#top_category .cart_no {position: absolute; right: 5px; top: 5px; width: 16px; height: 16px; line-height: 16px; background: #000271; color: #fff; font-size: 10px; 
    text-align: center; display: inline-block; border-radius: 100%; -moz-border-radius: 100%; -webkit-border-radius: 100%;}



/*
#header .first_in .right_area {  margin:-10px 0 0 23px; height:40px; padding:0 14px; float:right; display:inline-block; vertical-align:top; }
#header .first_in .right_area .right_icon { margin:0; }
#header .first_in .right_area .right_icon li.cart { margin: -9px 0 0 0; position: absolute; right: 63px; padding: 6px 20px 0 0;  height: 40px; }
#header .first_in .right_area .right_icon li.cart span.xans-layout-orderbasketcount { position:absolute; letter-spacing:3px; left:10px; top:6px; font-size:10px; font-weight:700;  overflow:hidden; height:12px; }
*/
/* 로고 */
/*#header .logo { position:absolute; z-index:2; display:inline-block; float:left; margin:0 0 5px 5%;  text-align:center; vertical-align:middle; }*/


/* 1st child - 카테고리 일반 팝업 메뉴 */
/*.xans-layout-category .position > ul > li.on .sub-category2 { display:block }*/
/* 카테고리 드랍다운 메뉴 */
/*
.xans-layout-category .sub-category2 { z-index:300; top:52px; left:-5px; padding:13px 20px 15px 10px; display:none; position:absolute; white-space: nowrap;  background-color:rgba(255,255,255,0.9);  box-shadow: 5px 3px 20px rgba(0,0,0,0.05); -webkit-box-shadow:5px 3px 20px rgba(0,0,0,0.05);  border:1px solid #ececec;  }
.xans-layout-category .sub-category2 .sub_img {  display:inline-block; vertical-align:top; margin:0; padding:0 0 10px }
.xans-layout-category .sub-category2 .sub_img  a {  padding:6px 0px 1px 10px;  }
.xans-layout-category .sub-category2 .sub2 {position:absolute; background:#fff; border:1px solid #ddd; padding:10px 10px; z-index:90; font-size:11px; left:46px; top:4px; }
.xans-layout-category .sub-category2 ul { display:inline-block; text-align:left;   }
.xans-layout-category .sub-category2 li { display:block; text-align:left;  padding:0 10px 0 0 }
.xans-layout-category .sub-category2 li:first-child { border-left:0; }
.xans-layout-category .sub-category2 li:first-child a { border-top-color:#000; }
.xans-layout-category .sub-category2 a { display:block; clear:both; line-height:15px !important;  z-index:10; font-weight:300; letter-spacing:0 !important;  padding:4px 10px 5px 12px; font-size:15px;  color:#999;  text-decoration:none; }
.xans-layout-category .sub-category2 a:hover,
.xans-layout-category .sub-category2 li.selected a { color:#000 !important; }
.xans-layout-category .sub-category2 .sub_img a:hover { background:none }
.xans-layout-category .over { display:block !important }*/


/*
#header.header_scroll_fixed .xans-layout-category.right_cate { top:-48px; z-index:999 }
#header.header_scroll_fixed .xans-layout-category .position > ul > li > a { font-size:14px; }
#header.header_scroll_fixed .right_area .search #find_btn { top:-36px; }
#header.header_scroll_fixed .right_area .search #find_view { top:-17px }
#header.header_scroll_fixed .xans-layout-category.left_cate { text-align:center;}
#header.header_scroll_fixed .xans-layout-category.my_page { top:-48px }
#header.header_scroll_fixed .xans-layout-category li .community_all { top:34px }
#header.header_scroll_fixed .xans-layout-category.my_page li.community_btn:hover .community_all { top:34px }
#header.header_scroll_fixed #top_category .xans-layout-category .sub-category, 
#header.header_scroll_fixed #top_category .xans-layout-category .sub-category2 { top:20px; border-right: 5px solid red;}
*/


/* Navigation Dropdown */
/*#top_category .dropdown { position: relative; display: inline-block; padding: 0 12px; }
#top_category .dropbtn { border: none;}*/
/*#top_category .dropbtn a {color: #444; font-size: 16px; font-weight: 500; z-index: 1; display: inline-block; text-decoration: none; transition: all 0.3s;}*/



/* 서브메뉴 드랍다운 옆으로 만들기 */
/*.dropdown-menu {display: none; position: absolute; background-color: #f1f1f1; min-width: 160px; min-height: 100%; z-index: 1; top: 0; left: 100%; }*/
/*.dropdown .xans-layout-category .sub-category {display: none; position: absolute; background-color: #f1f1f1; width: 100%; min-height: 100%; z-index: 2; top: 0; left: 100%;
border-right: 1px solid #ddd; border-bottom: 1px solid #ddd;}
.dropdown .xans-layout-category .sub-category a { display:block; clear:both; line-height:1.7 !important;  z-index:10; font-weight:0; 
    padding: 11px 16px; font-size:14px;  color:#262829;  text-decoration:none; }*/
/*.dropdown .xans-layout-category .sub-category a:hover,
.dropdown .xans-layout-category .sub-category li.selected a { color:#4a4dff !important;  background-color: #ddd;}*/
/*.dropdown-menu a { font-size:14px; padding: 12px 16px; text-decoration: none; display: block;}
.dropdown-submenu .dropdown-submenu-text { font-size:14px; padding: 12px 16px; text-decoration: none; display: block; cursor: pointer;}
.dropdown-menu a:hover { background-color: #ddd;}*/

/*.dropdown-submenu .dropdown-submenu-text:hover { color:#4d4fcb; background-color: #f1f1f1;}
.dropdown .position > ul > li > a { display:block; color:#262829; font-size:14px; text-decoration:none; font-weight:300;}*/

/*
#top_category .position > ul > li { position: relative; display: inline-block; padding: 0 48px 0 48px;}
#top_category .position > ul > li > a { color:#444; font-size: 16px; font-weight: 500; z-index: 1; display: inline-block; text-decoration: none; transition: all 0.3s;}
*/


/*

#header .first_in .xans-layout-category li.community_btn a { padding:0; font-size:12px; }
#header .first_in .xans-layout-category li.community_btn:hover a {  color:#000000;  }
#header .first_in .xans-layout-category li.community_btn:hover { transition: all 0.3s;  background-repeat:no-repeat;   }

#header .first_in .xans-layout-category li .community { text-align:left; margin:14px 0 0; width:155px; background-color:white; padding:20px 10px 19px 22px; 
    box-shadow: 0 -1px 9px 1px rgba(159,159,159,0.3); -webkit-box-shadow: 0 -1px 9px 1px rgba(159,159,159,0.3);  z-index:2 !important; }
#header .first_in .xans-layout-category li .community li { display:block; padding:0;  }*/
/*
#header .first_in .left_area li { display:block; } 
#header .first_in .left_area li.sns { margin:-2px 0 45px 0; text-align:right; font-size:0; vertical-align:middle; } 
#header .first_in .left_area li.sns a { padding:0 0 10px 5px; display:block; }
#header .first_in .left_area li.bookmark { padding:0 0 0 30px }
#header .first_in .left_area li.bookmark a { font-size:10px; font-weight:700; }
#header .first_in .left_area li.bookmark img { margin:-3px 0 0 4px; }
#header .first_in .right_cate {  vertical-align:top; }
#header .first_in .right_cate .position > ul > li > a { padding:0 0 20px; !important;}
#header .first_in .right_cate .position > ul > li.nor > a { margin:2px 7px 0 0 !important; font-weight:400;  }
#header .first_in .right_cate .position > ul > li.nor > a img { margin:-3px 5px 0 0 }
*/
