/* 오른쪽 사이드바 */
#sidebar_right { width:100px; top: 0; right: 20px; padding-top: 15px; background: none repeat scroll 0 0; position: absolute; transition: all 300ms;}
#sidebar_right .sidebar_image { width: 100px; height: auto; }
.sidebar_right_btn { text-align:center; border:1px solid #ddd; background:#fff;}
.sidebar_right_btn a { font-size:14px; padding:5px 5px; text-align:center; display:inline-block;}
.sidebar_right_btn_cont { text-align:center; border-right:1px solid #ddd; border-left:1px solid #ddd; border-bottom:1px solid #ddd; background:#fff;}
.sidebar_right_btn_cont a { font-size:14px; padding:5px 5px; text-align:center; display:inline-block;}

	/* 최근 본 상품 */
.today_view_empty {  color:#999; font-size:11px; line-height:15px;  z-index:1 !important;  }

.xans-layout-productrecent { border:1px solid #ddd; text-align:center; background:#fff; }
.xans-layout-productrecent h2 a { display:block; height:30px; line-height:30px; font-size:12px; font-weight:normal; color:#2e2e2e; }
.xans-layout-productrecent ul { width:76px; margin:0 auto 10px; }
.xans-layout-productrecent li a { color:#2e2e2e; font-size:11px; }
.xans-layout-productrecent li img { max-width:80px; padding: 2px 0;}
.xans-layout-productrecent li span { display:block; padding:2px 0; line-height:16px; }
.xans-layout-productrecent .player { overflow:hidden; *zoom:1; }
.xans-layout-productrecent .player img { float:center; padding:0 15px;}