.panel { width: 300px; height:640px; float:left; top: 70px; background:#fff; position:fixed; left:-280px; z-index: 1001; border: 1px solid #375cb4; border-radius: 5px; }
.slider-arrow { text-align: end !important; padding:10px; width:30px; float:right; background:#fff; font:400 30px Arial, Helvetica, sans-serif; color:#000; text-decoration:none; position: absolute; top: 48%; left:299px; background-color: #375cb4;
    border: 1px solid #375cb4; border-top-right-radius: 5px; border-bottom-right-radius: 5px; color: white !important; }

.panel .banner { width:100%;}
.panel .banner a img {width:100%;}

.panel .banner_bottom { width:100%; position: absolute; bottom:0; }
.panel .banner_bottom a img {width:100%;}


/* 왼쪽 슬라이딩바 */
.panel .dj-product { height: 460px; overflow: auto; padding-bottom: 20px;}
.panel .dj-product .prdList.grid2 { margin: 8px 4px 0; font-size: 0; text-align: center; }
.dj-product .prdList.grid2 .item_list { display: inline-block; margin: 0 0 8px; width: 50%; vertical-align: top; }
.panel .dj-product .prdList.grid2 .item_list .item_list_box { margin: 0 4px; position: relative; }
.panel .dj-product .thumbnail {  position:relative; border:1px solid #ececec; overflow: hidden; height: 130px; width: 130px;}
.panel .dj-product .item_list .thumbnail .thumb_Img { max-width: 130px !important; min-height: 130px !important; }
.panel .dj-product .description .name span { font-size: 13px !important; letter-spacing: -0.03em; font-weight: 400 !important; }
.panel .dj-product .description .name { color: #444; font-weight: 400; text-align: left; padding: 5px 10px; display: block; border-bottom: 1px solid #ececec; height: 45px; overflow: hidden; }

/* 스크롤바 스타일링 */
/* width */
#slidingSidebar ::-webkit-scrollbar { width: 10px; }
/* Track */
#slidingSidebar ::-webkit-scrollbar-track { background: #fff; }
/* Handle */
#slidingSidebar ::-webkit-scrollbar-thumb { background: #eee; border-radius: 25px; }
/* Handle on hover */
#slidingSidebar ::-webkit-scrollbar-thumb:hover { background: #444; }

.tooltip { display: inline-block; }
.tooltip .tooltiptext { visibility: hidden; width: 120px; background-color: #5f5f5f; color: #fff; text-align: center; border-radius: 6px; padding: 5px 0; font-size: 14px;
  /* Position the tooltip */ position: absolute; z-index: 1; top: 0px; left: 150%;  
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */ opacity: 0; transition: opacity 1s;}
.tooltip:hover .tooltiptext { visibility: visible; opacity: 1; }
.tooltip .tooltiptext::after { content: " "; position: absolute; top: 30%; right: 100%; /* To the left of the tooltip */ margin-top: 5px; border-width: 5px; border-style: solid; border-color: transparent #5f5f5f transparent transparent; }


