
.xans-board-listpackage .boardSort { float:left; margin:0 0 10px; }

/* 갤러리형 탭메뉴 */
ul.xans-board-listheader { text-align:right; margin:0 0 10px; }
ul.xans-board-listheader li { display:inline; }

/* 상품후기 아코디언형 */
.xans-board-listpackage #content_view td { padding:9px 10px 20px; background:#f6f7f9; text-align:left; word-break:break-all; white-space:pre-wrap; }