
/* modify */
.xans-board-modify-9 .ec-base-table .view .detail { padding:10px; word-break:break-all; line-height:normal; }
.xans-board-modify-9 .ec-base-table .view .detail ol,
.xans-board-modify-9 .ec-base-table .view .detail ul { margin:15px 0; padding:0 0 0 40px; }
.xans-board-modify-9 .ec-base-table .view .detail ol li { list-style:decimal; }
.xans-board-modify-9 .ec-base-table .view .detail ul li { list-style:disc; }
.xans-board-modify-9 .ec-base-table #subject { width:390px; }
.xans-board-modify-9 .ec-base-table #captcha { width:160px; }
.xans-board-modify-9 .ec-base-table #email1 { margin:0 4px 0 0; }
.xans-board-modify-9 .ec-base-table #email2 { margin:0 4px; }

.xans-board-modify-9 .ec-base-button { margin:10px 0 40px; }