<!------------------------------------------------------------------------------------------------------------------     

    ※ 상단 카테고리 & 우측 아이콘 영역 / 카테고리별 이미지 설정 아래 참조
	※ 전체 카테고리만 모듈을 사용하여 자동으로 업데이트 됍니다. 
	※ 나머지 카테고리 변경시 메뉴 이름과 경로를 업데이트해주세요
 
------------------------------------------------------------------------------------------------------------------->
<div id="top_category">
    <div class="container_inner">      
        <div class="category_menu">
        <ul>
            <!-- 전체 카테고리 -->
            <li class="dropdown border-line-addition-right">
                     		<div class="dropbtn">
                         		<a><img src="/_dj/img/baseline_menu_black_18dp.png"/><span > 전체 카테고리</span></a>
                     		</div>
                     			<div id="category" module="Layout_category">
                                	<!--@js(/js/module/layout/category.js)-->
									
                             		<div class="position">
                                 		<ul>
                                            <li><a href="/{$design_page_url}{$param}">{$name}</a></li>
                							<li><a href="/{$design_page_url}{$param}">{$name}</a></li>   
                							<li><a href="/{$design_page_url}{$param}">{$name}</a></li>   
                							<li><a href="/{$design_page_url}{$param}">{$name}</a></li>
                                 		</ul>
                             		</div>
                     			</div>
              </li>
              <!--전체 카테고리-->

                
            	<li class="border-line-addition-right"><a href="/product/list.html?cate_no=98">신상품</a></li>
            	<li class="border-line-addition-right"><a href="/product/list.html?cate_no=93">베스트</a></li>
            	<li class="border-line-addition-right"><a href="/product/list.html?cate_no=163">BIG SALE</a></li>
                <li><a href="/_dj/page/event.html">이벤트</a></li>
                 
            
            
                <!-- 검색 바 -->
                <li>
                    <div module="Layout_SearchSide">
                        <!--@css(/css/module/layout/searchSide.css)-->
    					<!--
        					$search_page = /product/search.html
        					$product_page = /product/detail.html
    					-->
                        <fieldset>
                            <legend>검색</legend><input type="text" placeholder="워시몰에서 원하는 상품을 찾아보세요."{$form.keyword} name="search">
                            <span style="padding-left:10px;"><input type="image" src="/_dj/img/top_r_menu_icon_03_b.png" alt="검색" onclick="{$action_search_submit}" />
                        	<span style="padding-left:10px;">
                        </fieldset>
                        <div class="bestKeyword {$hot_keyword_display|display}">
                            <a href="{$hot_keyword_url}">{$hot_keyword_name}</a>
                            <a href="{$hot_keyword_url}">{$hot_keyword_name}</a>
                        </div>
                    </div>
                 </li>
                 <!-- END: 검색 바 -->
                        
                 <!-- 장바구니 아이콘 --> 
                 <li class="cart"><a href="/order/basket.html"><img src="/_dj/img/baseline_shopping_cart_black_18dp.png"/>
                     <span module="Layout_orderbasketcount" class="cart_no">{$basket_count}</span></a>
                 </li>
                        
            </ul>
        
            </div><!--category_menu-->
    </div><!-- container_inner -->
</div><!-- top_category -->


