<li class="tel nor"><span><img src="/_dj/img/baseline_call_black_18dp_small.png" >  C/S CENTER <b>1661-2295</b></span></li>
  
<li class="community_btn nor"> <a href="#none" class="click">고객센터 <img src="/_dj/img/baseline_arrow_drop_down_black_18dp_small.png" alt="커뮤니티아이콘" /></a>
    <div class="community_all">
        <div class="community">
            <ul>
                <li><a href="/board/free/list.html?board_no=1">공지사항</a></li>
                <li><a href="/board/product/list.html?board_no=6">자주 묻는 질문</a></li>
                <li><a href="/board/p_review/list.html?board_no=4">상품후기</a></li>
                <li><a href="/board/gallery/list.html?board_no=2">이벤트</a></li>
            </ul>
        </div>
    </div>
</li>   
