
<!----------------------------------------------------------------------------------------------------------------------

  ※ SNS 아이콘 
  ※ 표시된 이 외 아이콘 사용 원하실 경우 아래 주석 제거 후 사용하시면 됩니다. 
  ※ 카카오플친과 네이버 톡톡의 경우 https://pf.kakao.com/test 와 같은 주소 부분만 변경하시면 됩니다.

------------------------------------------------------------------------------------------------------------------------>

<div id="scroll_sns_icon">
    <ul>
        <!-- 카카오채널 바뀐 아이콘 파일명 scroll_sns_icon_kakaochannel.png -->
        <!--li><a href="#none" onclick="window.open('https://pf.kakao.com/test','window','location=no, directories=no,resizable=no,status=no,toolbar=no,menubar=no, width=500,height=780,left=0, top=0, scrollbars=yes');"><img src="/_dj/img/scroll_sns_icon_kakaoplus.png" alt="카카오채널" /></a></li> 
        <--li><a href="https://instagram.com" target="_blank"><img src="/_dj/img/scroll_sns_icon_insta.png" alt="인스타그램" /></a></li-->

        <!--li><a href="https://facebook.com" target="_blank"><img src="/_dj/img/scroll_sns_icon_facebook.png" alt="페이스북" /></a></li>
        <li><a href="https://youtube.com" target="_blank"><img src="/_dj/img/scroll_sns_icon_youtube.png" alt="유튜브" /></a></li>
        <li><a href="#none" onclick="window.open('http://talk.naver.com/','window','location=no, directories=no,resizable=no,status=no,toolbar=no,menubar=no, width=500,height=600,left=0, top=0, scrollbars=yes');"><img src="/_dj/img/scroll_sns_icon_navertalk.png" alt="네이버톡톡" /></a></li>
        <li><a href="https://naver.com" target="_blank"><img src="/_dj/img/scroll_sns_icon_naverblog.png" alt="네이버블로그" /></a></li-->
    </ul>
</div>

<!----------------------------------------------------------------------------------------------------------------------

  ※ 위/아래 스크롤 아이콘

------------------------------------------------------------------------------------------------------------------------>
<!--@css(/_dj/css/toTop.css)-->
<a id="toTop"><img src="/_dj/img/baseline_expand_less_black_18dp.png" alt="스크롤-업!" /></a>
<!--<div id="top_top"><img src="/_dj/img/baseline_expand_less_black_18dp.png" alt="스크롤-업!" /></div>
<div id="bottom_bottom"><img src="/_dj/img/baseline_expand_more_black_18dp.png" alt="스크롤-다운!" /></div>-->
<script>
var btn = $('#toTop');
$(window).scroll(function() {
    btn.addClass('show');
  /*if ($(window).scrollTop() > 300 || document.body.scrollTop() > 20 ) {
    btn.addClass('show');
  } else {
    btn.removeClass('show');
  }*/
});
    
btn.on('click', function(e) {
  e.preventDefault();
  $('html, body').animate({scrollTop:0}, '300');
    btn.removeClass('show');
});
</script>


