<!--@css(/_dj/css/dj-footer.css)-->

<!-- up to top button -->
<!--@import(/_dj/page/layout/footer_1.html)-->


<div id="footer">
    <div module="Layout_footer" class="footer_start">  
        <!--@import(/_dj/page/layout/footer_2.html)-->             
    </div>
</div>






<script type="text/javascript" src="/_dj/js/scroll-transition-fade.js"></script>


<!-- Enliple Tracker Start -->
<script type="text/javascript">
(function(a,g,e,n,t){a.enp=a.enp||function(){(a.enp.q=a.enp.q||[]).push(arguments)};n=g.createElement(e);n.defer=!0;n.src="https://cdn.megadata.co.kr/dist/prod/enp_tracker_cafe24_smart.min.js";t=g.getElementsByTagName(e)[0];t.parentNode.insertBefore(n,t)})(window,document,"script");
enp('create', 'common', 'wavenco', { device: 'W' });    
enp('send', 'common', 'wavenco');
</script>
<!-- Enliple Tracker End -->

<!-- mobLogin -->
<script>
    function mobLogin() {
        try {
            if(!sessionStorage.member_1) return;
            var info = JSON.parse(sessionStorage.member_1); 						
            if(!info) return;
            var login = new Login({
                "userEmail" : info.data.email,
                "userId" : info.data.member_id
            });
            login.sendLogin();
        } catch(e) {}
    }
</script>
<script src="https://cdn.megadata.co.kr/js/cp/crosslogin.min.js" defer="defer" onload="mobLogin()"></script>
<!-- mobLogin -->


