
<!----------------------------------------------------------------------------------------------------------------------

  ※ 하단 우측 사이트맵 영역

------------------------------------------------------------------------------------------------------------------------>

<div class="notice_right">
    <ul> 
        <li class="list">
            <a href="#none" class="title">ABOUT US</a>
            <a href="/shopinfo/company.html">회사소개</a>
        </li>
        <li class="list">
            <a href="#none" class="title">MY PAGE</a>
            <a href="/myshop/order/list.html">주문조회</a>
            <a href="/myshop/wish_list.html">관심상품</a>
            <a href="/member/modify.html">회원정보수정</a>
        </li>
        <li class="list">
            <a href="#none" class="title">COMMUNITY</a>
            <a href="/board/free/list.html?board_no=1">공지사항</a>
            <a href="/board/product/list.html?board_no=4">상품후기</a>
            <a href="/board/product/list.html?board_no=6">질문답변</a>
            <a href="/board/gallery/list.html?board_no=8">이벤트</a>
        </li>
        <li class="list">
            <a href="#none" class="title">SHOPPING</a>
            <a href="/order/basket.html">장바구니</a>
            <a href="/myshop/coupon/coupon.html">쿠폰조회</a>
        </li>
    </ul>
</div>