<ul>
    <div class="company_i">
    	<div class="inner2">
                <li class="logo">
                    <!--------★ PG사 이미지 ★--------------------------------------------------------->
                    <a href="https://cafe24.com/" target="blank"><img src="/_dj/img/bn_cafe24.png" /></a>
                    <a href="#" target="blank"><img src="/_dj/img/pg_kg.jpg" style="margin:-5px 0 0" /></a>
                </li>
                <li class="info">
                    고객님은 안전거래를 위해 결제시 저희 쇼핑몰에서 가입한 구매안전 서비스를 이용하실 수 있습니다. <a href="#none">서비스가입사실확인</a>
                </li>
                <li class="utilMenu">
                    <a href="/_dj/page/about.html" >워시몰소개</a>
                    <a href="/member/agreement.html">이용약관</a>
                    <a href="/member/privacy.html">개인정보취급방침</a>
                    <a href="/shopinfo/guide.html">이용안내</a>
                </li>
    	</div>
    </div>
</ul>