
<!----------------------------------------------------------------------------------------------------------------------

  ※ 하단 회사정보 영역

------------------------------------------------------------------------------------------------------------------------>

<div class="company_pg">
    <div class="inner2">
        <li class="utilMenu">
            <a href="/member/agreement.html">이용약관</a><img src="/_dj/img/s71_footer_util_bar.png" />
            <a href="/member/privacy.html"><strong>개인정보취급방침</strong><img src="/_dj/img/s71_footer_util_bar.png" /></a>
            <a href="/shopinfo/guide.html">이용안내</a>
        </li>
        <li class="logo">
            <!-- PG사 이미지 -->
            <a href="http://cafe24.com/" target="blank"><img src="/_dj/img/bn_cafe24.png" /></a>
            <a href="#" target="blank"><img src="/_dj/img/pg_kg.jpg" /></a>
        </li>
        <li class="info">
            고객님은 안전거래를 위해 결제시 저희 쇼핑몰에서 가입한 구매안전 서비스를 이용하실 수 있습니다. <a href="#none";>서비스가입사실확인</a>
        </li>
    </div>
</div>
        
