
<!----------------------------------------------------------------------------------------------------------------------

  ※ 하단 SNS 영역

------------------------------------------------------------------------------------------------------------------------>

<ul class="sns_zone">
    <li><a href="#" target="_blank"><img src="/_dj/img/footer_sns_img_01.jpg" alt="페이스북" /></a></li>
    <li><a href="#" target="_blank"><img src="/_dj/img/footer_sns_img_02.jpg" alt="인스타그램" /></a></li>
    <li><a href="#" target="_blank"><img src="/_dj/img/footer_sns_img_03.jpg" alt="네이버블로그" /></a></li>
</ul>