<!--@css(/_dj/css/dj-footer.css)-->

<!-- up to top button -->
<!--@import(/_dj/page/layout/footer_1.html)-->


<div id="footer">
    <div module="Layout_footer" class="footer_start">  
        <ul class="inner"> 
    <div class="cs container_inner">    
                          
        
        <!----------------------------------------------------------------------------------------------------------------------

           ※ 하단 고객센터

        ------------------------------------------------------------------------------------------------------------------------>
        <div class="cs_left">
            <ul>
                <li class="title">고객행복센터</li>
            </ul>
            <ul class="cs_info">
                <li class="tel">1661-2295</li>
                
                                <li class="tel_time">평일 <br>
                    <p>10:00 - 18:30</p>
                </li>
                <li class="tel_time">점심시간 <br>
     				<p>12:00 - 13:00</p>
                </li>
                <li class="tel_time">채널톡 <br>
     				<p>10:00 - 18:30 </p>
                </li>
                <li class="tel_time">
                    <p>(주말 및 공휴일 휴무)</p>
            </ul>
        </div>
        
        
        <div class="cs_left2">
             <ul>
                <li class="title">입금 계좌 안내</li>
                 <li>워시몰의 입금가능한 계좌는 다음과 같습니다.</li>
            </ul>              
            <ul class="cs_info2">
                <li><img style="width:80px;" src="/_dj/img/bank_woori_logo.png"></span> <span class="num"><strong>&nbsp;&nbsp; 1005-703-833505</strong> </li>
            <br>
                <li class="name">  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 예금주 (주) 웨이브앤코퍼레이션</li>
       </div><!--//cs_left-->
        
        <!----------------------------------------------------------------------------------------------------------------------

           ※ 상점관리 > 기본정보관리 > 내 쇼핑몰 정보에 입력한 내용이 노출됩니다.

        ------------------------------------------------------------------------------------------------------------------------>
        <div class="company_pg">
             <!--<ul>
                <li class="menu"><a href="/_dj/page/about.html" >워시몰소개</a></li>
                 <li class="menu"><a href="https://m.washmall.co.kr/apps/cafe24plusapp/marketing/appdown_link.html"  target="_blank">워시몰앱다운로드</a></li>
                 <li class="menu">인재채용</li>
                 <li class="menu">이용약관</li>
                 <li class="menu2">개인정보처리방침</li>
                 <li class="menu">이용안내</li>
            </ul>-->
            <div class="inner2">
                <li class="info">
                    <span>상호:  <span>{$company_name}</span></span>  <span>대표이사:  <span class="han">{$president_name|upper}</span></span>  <span>사업자등록번호:  <span>{$company_regno}</span></span> <br />
                    <span>통신판매업 신고:   <span>{$network_regno}</span></span><span> <span>{$biz_no_link}</span></span> <br />
                    <span>전화:  <span>{$phone}</span></span> <span>주소:  <span> {$mall_addr1|upper} {$mall_addr2|upper}</span></span> <br />
                    <span>입점문의:  <span><a href = "mailto: kej1021@wavencorp.com">입점문의하기</a></span></span> <span>제휴문의: <a href = "mailto: kej1021@wavencorp.com">kej1021@wavencorp.com<a></span></span> <br />
                    <span>채용문의:  <span><a href = "mailto: {$cpo_email}">{$cpo_email}</a></span></span> <br />
                    <span>개인정보관리책임자:  <span>{$cpo_name} 		&nbsp;&nbsp;| </span><span>이메일: <a href = "mailto: {$cpo_email}">{$cpo_email}<a></span></span><br>
                </li><br>
                        
                <li class="reserve">©WASHMALL. ALL RIGHTS RESERVED
                </li>
            </div>
            
            <br><br><br><br>
            <div class="social"> 
                <ul>
                    <li><a href="https://www.instagram.com/wash_mall/"  target="_blank"><img src="/_dj/img/icon_instagram.png" /></a></li>
                    <li><a href="https://www.facebook.com/WASHHOMECARE/?ref=bookmarks"  target="_blank"><img src="/_dj/img/icon_facebook.png" /></a></li>
                    <li><a href="https://post.naver.com/viewer/postView.nhn?volumeNo=28735197&memberNo=47666527&searchKeyword=km005&searchRank=1
"  target="_blank"><img src="/_dj/img/icon_naver.png" /></a></li>
                    <li><a href="https://www.youtube.com/channel/UCxmLPcBkz1BsDtD8hEZyRLg"  target="_blank"><img src="/_dj/img/icon_youtube.png" /></a></li>
                </ul>
            </div>
                    
                    
        </div><!--//company_pg-->


    </div><!--//cs container_inner-->
</ul><!--//inner-->

<!--@import(/_dj/page/layout/footer_7.html)-->

         
    </div>
</div>


