<!--@css(/_dj/css/header.css)-->

<div id="header-h">
    <div id="header">
    
        <div class="inner first_in"> 
            <!--@import(/_dj/page/layout/top_notification_bar.html)-->
            <div class="container_inner">
        	<!--@import(/_dj/page/layout/top_menu2.html)-->
        	<!--@import(/_dj/page/layout/logo.html)-->
            </div>  
        </div>
        
        <div class="header_inner">     
            <!--@import(/_dj/page/layout/category.html)--> 
            <div class="off" id="section_on_off">  
                <!--★ **꺼짐**오른쪽 상단 배송조회 아이콘 ★-->
    			<!--@import(/_dj/page/layout/top_banner.html)-->
            </div>
        </div>
    </div>
</div>