
<!------------------------------------------------------------------------------------------------------------------     

    ※ 로고 
 
------------------------------------------------------------------------------------------------------------------->

<div module="Layout_LogoTop" class="top_logo">
    <!--@css(/css/module/layout/logotop.css)-->
   <a href="/index.html"><img src="{$logo}" alt="로고" /></a>
</div>
<!----------
<div class="logo" align="center" >
    <a href="/index.html"><img src="/_dj/img/logo.png" alt="로고" /></a>
</div>	
------>
