
<!------------------------------------------------------------------------------------------------------------------     

    ※ 멀티 쇼핑몰 언어별 아이콘 영역
 
------------------------------------------------------------------------------------------------------------------->

<div module="Layout_multishopList" class="list">
<!--@css(/css/module/layout/multishopList.css)--> 
    <button type="button" class="toggle"><img src="//img.cafe24.com/img/common/global/{$current_language_code}_32x24.png" alt="" /></button>
    <ul module="Layout_multishopListitem">
        <li class="{$selected_class}"><a href="//{$shop_domain}/"><img src="//img.cafe24.com/img/common/global/{$language}_32x24.png" alt="" /></a></li>
        <li class="{$selected_class}"><a href="//{$shop_domain}/"><img src="//img.cafe24.com/img/common/global/{$language}_32x24.png" alt="" /></a></li>
    </ul>
</div>          
   