<!--@css(/_dj/css/imagetap.css)-->

<div id="imagetap">
    <div class="container">
        <div module="board_Product_4" class="ec-base-box typeProduct">
            <div class="information">
                <a href="{$link_product_detail}"><img src="{$product_img}" id="expandedImg" style="width: 100%" alt="" onerror="this.src='//img.echosting.cafe24.com/thumb/75x75.gif'" /></a>
            </div>
        </div>
    </div>
    
    <!-- The four columns -->
    <div id="contentImage" style="display: none;">
        {$content_image}
    </div>
    <div class="content_image" id="displayimg">
    </div>
    
</div>


<script>
$(document).ready(function() {
  var contents = document.getElementById("contentImage");
    var insert = document.getElementById("displayimg");
    var items = contents.children;
    var txt = "";
    for (i = 0; i < items.length; i+=2) {
        //var imgsrc = items[i].src;
        txt = txt + '<div class="column"> <img src="' + items[i].src + '" style="width:100%" onclick="myFunction(this);"/> </div>';

    }
    insert.innerHTML = txt;
});
    
function myFunction(imgs) {
  var item = document.getElementById("expandedImg");
    //var review = document.getElementById("reviewImg");
    //review.style.display = "none";
  item.src = imgs.src;
  item.parentElement.style.display = "block";
}
</script>



<!--div style="width: 40%; display: inline-block; margin: 0px 20px 0px 0px; border:1px solid #ececec;">
                        {$content_image}
                        <div module="board_Product_4" class="ec-base-box typeProduct">
                            <div class="information">
                                <a href="{$link_product_detail}"><img src="{$product_img}" style="width: 100%" alt="" onerror="this.src='//img.echosting.cafe24.com/thumb/75x75.gif'" /></a>
                            </div>
                        </div>
                    </div-->